<!DOCTYPE html>
{%load static%}
<html>

<head>
	<meta charset="utf-8">
	<title>home</title>
    <link rel="stylesheet" href="{% static 'images/css/style.css' %}">
    <style>
		h2{
			color:green;
		}
		.aus{
			background-color:rgb(red, green, blue);
			color:royalblue;
		}

	</style>
</head>
<body>
    <div class="aus">
    <h2>hazratullah zazai </h2>
    * He belongs to paktia.<br>
    * In ODI’s, he scored 361 runs in 16 matches<br> 
    * In t20, he scored 570 runs in 15 matches<br>
    * He played International Cricket for 5 years
    <br><br>
    <h2>usman ghani</h2>
    * He belongs to kabul.<br>
    * In ODI’s, he scored 411 runs in 15 matches<br> 
    * In t20, he scored 551 runs in 23 matches<br>
    * He has taken 1 wickets in 15 odi Matches<br>
    * He played International Cricket for 7 years
    <br><br>
    <h2>asghar afghan</h2>
    * He belongs to kabul.<br>
    * In tests, he scored 440 runs in 6 matches<br> 
    * In ODI’s, he scored 2467 runs in 115 matches<br> 
    * In t20, he scored 1317 runs in 72 matches<br>
    * He has taken 3 wickets in 115 odi Matches<br>
    * He has taken 1 wickets in 72 t20 Matches<br>
    * He played International Cricket for 12 years
    <br><br>
    <h2>hashmatullah shahidi </h2>
    * He belongs to logar.<br>
    * In tests, he scored 353 runs in 5 matches<br> 
    * In ODI’s, he scored 1155 runs in 42 matches<br> 
    * He played International Cricket for 8 years
    <br><br>
    <h2>nazibullah  zadran</h2>
    * He belongs to logar.<br>
    * In ODI’s, he scored 1615 runs in 70 matches<br> 
    * In t20, he scored 1060 runs in 63 matches<br>
    * He played International Cricket for 9 years
    <br><br>
    <h2>mohammad nabi </h2>
    * He belongs to logar.<br>
    * In tests, he scored 33 runs in 3 matches<br> 
    * In ODI’s, he scored 2831 runs in 128 matches<br> 
    * In t20, he scored 1366 runs in 80 matches<br>
    * He has taken 8 wickets in 3 Test Matches<br>
    * He has taken 132 wickets in 128 odi Matches<br>
    * He has taken 72 wickets in 80 t20 Matches<br>
    * He played International Cricket for 12 years
    <br><br>
    <h2>gulbadin naib </h2>
    * He belongs to logar.<br>
    * In ODI’s, he scored 1079 runs in 68 matches<br> 
    * In t20, he scored 492 runs in 48 matches<br>
    * He has taken 61 wickets in 68 odi Matches<br>
    * He has taken 17 wickets in 48 t20 Matches<br>
    * He played International Cricket for 9 years
    <br><br>
    <h2>Sharafuddin ashrif </h2>
    * In ODI’s, he scored 66 runs in 17 matches<br> 
    * In t20, he scored 28 runs in 9 matches<br>
    * He has taken 14 wickets in 17 odi Matches<br>
    * He has taken 5 wickets in 9 t20 Matches<br>
    * He played International Cricket for 6 years
    <br><br>
    <h2>Mohammad shazad </h2>
    * He belongs to  Nangarhar.<br>
    * In tests, he scored 69 runs in 2 matches<br> 
    * In ODI’s, he scored 2763 runs in 85 matches<br> 
    * In t20, he scored 1860 runs in 64 matches<br>
    * He played International Cricket for 11 years
    <br><br>
    <h2> Rashid Khan </h2>
    * He belongs to Nangarhar.<br>
    * In tests, he scored 106 runs in 5 matches<br> 
    * In ODI’s, he scored 1008 runs in 74 matches<br> 
    * In t20, he scored 179 runs in 51 matches<br>
    * He has taken 34 wickets in 5 Test Matches<br>
    * He has taken 140 wickets in 74 odi Matches<br>
    * He has taken 95 wickets in 51 t20 Matches<br>
    * He played International Cricket for 6 years
    <br><br>
    <h2> muzeeb ur rahman</h2>
    * In tests, he scored 18 runs in 1 matches<br> 
    * In ODI’s, he scored 88 runs in 43 matches<br> 
    * In t20, he scored 8 runs in 19 matches<br>
    * He has taken 1 wickets in 1 Test Matches<br>
    * He has taken 70 wickets in 43 odi Matches<br>
    * He has taken 25 wickets in 19 t20 Matches<br>
    * He played International Cricket for 4 years
    <br><br>
    <h2>dawlat zadran </h2>
    * He belongs to khost.<br>
    * In ODI’s, he scored 513 runs in 82 matches<br> 
    * In t20, he scored 72 runs in 34 matches<br>
    * He has taken 115 wickets in 82 odi Matches<br>
    * He has taken 43 wickets in 34 t20 Matches<br>
    * He played International Cricket for 10 years
    <br><br>
    <h2>shapoor zadran </h2>
    * He belongs to logar.<br>
    * In ODI’s, he scored 67 runs in 45 matches<br> 
    * In t20, he scored 27 runs in 35 matches<br>
    * He has taken 44 wickets in 45 odi Matches<br>
    * He has taken 36 wickets in 35 t20 Matches<br>
    * He played International Cricket for 12 years
    <br><br>
    <h2>hamid hassan</h2>
    * He belongs to nengrakar.<br>
    * In ODI’s, he scored 107 runs in 39 matches<br> 
    * In t20, he scored 50 runs in 21 matches<br>
    * He has taken 62 wickets in 39 odi Matches<br>
    * He has taken 29 wickets in 21 t20 Matches<br>
    * He played International Cricket for 12 years
    <br><br>
    <h2>naveen ul haq</h2>
    * He belongs to kabul.<br>
    * In ODI’s, he scored 21 runs in 7 matches<br> 
    * In t20, he scored 7 runs in 8 matches<br>
    * He has taken 14 wickets in 7 odi Matches<br>
    * He has taken 13 wickets in 8 t20 Matches<br>
    * He played International Cricket for 5 years
    <br><br>
    </div>
</body>
</html