<!DOCTYPE html>
{%load static%}
<html>

<head>
	<meta charset="utf-8">
	<title>home</title>
    <link rel="stylesheet" href="{% static 'images/css/style.css' %}">
	<style>
		h2{
			color:green;
		}
		.aus{
			background-color:powderblue;
			color:orange;
		}

	</style>
	
</head>
<body>
  <div class="aus">  
<h2>Aaron Finch </h2>
* He belongs to victoria. He has scored 278 runs in 5 Test Matches with the help of 0 centuries and 2 half centuries.<br>
* In ODI’s, he scored 5232 runs with the help of 17 centuries and 29 half centuries. <br>
* In t20, he scored 2473 runs with the help of 4centuries and 15 half centuries<br>

* He has taken 4 wickets  odi matches<br>

* He played International Cricket for 10 years
<br>
<h2>Steven Smith</h2>
* He belongs to sydney. He has scored 7540 runs in 77 Test Matches with the help of 27 centuries and 31 half centuries.<br>
* In ODI’s, he scored 4378 runs with the help of 11 centuries and 25 half centuries.<br> 
* In t20, he scored 794 runs with the help of 1centuries and 4 half centuries<br>
* He has taken 17 wickets in 77 Test Matches<br>
* He has taken 28 wickets in 128 odi Matches<br>
* He has taken 17 wickets in 45 t20 Matches<br>
* He played International Cricket for 11 years

<br><br>
<h2>David Warner</h2>
* He belongs to sydney. He has scored 7540 runs in 77 Test Matches with the help of 27 centuries and 31 half centuries.<br>
* In ODI’s, he scored 5455 runs with the help of 18 centuries and 23 half centuries.<br> 
* In t20, he scored 2265 runs with the help of 1 century and 18 half centuries<br>
* He has taken 4 wickets in  Test Matches<br>
* He has taken 28 wickets in 128 odi Matches<br>

<br><br>
<h2>Mitchell Marsh</h2>
* He belongs to perth. He has scored 1260 runs in 32 Test Matches with the help of 2 centuries and 3 half centuries.<br>
* In ODI’s, he scored 1672 runs with the help of 1 centuries and 12 half centuries.<br> 
* In t20, he scored 700 runs with the help of  4 half centuries<br>
* He has taken 42 wickets in 32 Test Matches<br>
* He has taken 50 wickets in 63 odi Matches<br>
* He has taken 15 wickets in 30 t20 Matches<br>
* He played International Cricket for 11 years

<br><br>

<h2>Glenn Maxwell</h2>
* He belongs to victoria. He has scored 339 runs in 7 Test Matches with the help of 1 centuries and 0 half centuries.<br>
* In ODI’s, he scored 3230 runs with the help of 2 centuries and 22 half centuries.<br> 
* In t20, he scored 1780 runs with the help of 3 centuries and 9 half centuries<br>
* He has taken 8 wickets in 7 Test Matches<br>
* He has taken 51 wickets in 116 odi Matches<br>
* He has taken 31 wickets in 72 t20 Matches<br>
* He played International Cricket for 10 years

<br><br>
<h2>Marcus Stoinis</h2>
* He belongs to perth. 
* In ODI’s, he scored 1106 runs with the help of 1 centuries and 6 half centuries.<br> 
* In t20, he scored 376 runs with the help of 1 half centuries<br>
* He has taken 33 wickets in 45 odi Matches<br>
* He has taken 10 wickets in 28 t20 Matches<br>
* He played International Cricket for 6 years

<br><br>
<h2>Ashton Agar</h2>
* He belongs to victoria. He has scored 195 runs in 4 Test Matches with the help of 1 half centuries.<br>
* In ODI’s, he scored 236 runs<br> 
* In t20, he scored 214 runs <br>
* He has taken 9 wickets in 4 Test Matches<br>
* He has taken 14 wickets in 15 odi Matches<br>
* He has taken 42 wickets in 39 t20 Matches<br>
* He played International Cricket for 8 years

<br><br>
<h2>matthaw wade</h2>
* He belongs to tasmania. He has scored 1613 runs in 36 Test Matches with the help of 4 centuries and 5 half centuries.<br>
* In ODI’s, he scored 1867 runs with the help of 1 centuries and 11 half centuries.<br> 
* In t20, he scored 655 runs with the help of 3 half centuries<br>
* He played International Cricket for 11 years

<br><br>
<h2>josh inglish</h2>
* He belongs to yorkshire.
<br><br>

<h2>Pat Cummins</h2>
* He belongs to sydney. He has scored 708 runs in 34 Test Matches with the help of 2 half centuries.<br>
* In ODI’s, he scored 285 runs <br> 
* In t20, he scored 48 runs <br>
* He has taken 164 wickets in 34 Test Matches<br>
* He has taken 111 wickets in 69 odi Matches<br>
* He has taken 37 wickets in 30 t20 Matches<br>
* He played International Cricket for 11 years

<br><br>
<h2>kane richardson</h2>
* He belongs to south austrelia. <br>
* He has taken 39 wickets in 25 odi Matches<br>
* He has taken 29 wickets in 26 t20 Matches<br>
* He played International Cricket for 8 years

<br><br>
<h2>josh hazlewood</h2>
* He belongs to new south wales. He has scored 445 runs in 55 Test Matches <br>
* He has taken 212 wickets in 55 Test Matches<br>
* He has taken 93 wickets in 56 odi Matches<br>
* He has taken 21 wickets in 17 t20 Matches<br>
* He played International Cricket for 21 years

<br><br>
<h2>Mitchell Starc</h2>
* He belongs to sydney. He has scored 1596 runs in 61 Test Matches  10 half centuries.<br>
* In ODI’s, he scored 428 runs with the help of 11 centuries and 25 half centuries.<br> 
* In t20, he scored 794 runs with the help of 1centuries and 4 half centuries<br>
* He has taken 17 wickets in 77 Test Matches<br>
* He has taken 28 wickets in 128 odi Matches<br>
* He has taken 17 wickets in 45 t20 Matches<br>
* He played International Cricket for 11 years

<br><br>
<h2>Adam Zampa</h2>
* He belongs to sydney. He has scored 7540 runs in 77 Test Matches with the help of 27 centuries and 31 half centuries.<br>
* In ODI’s, he scored 4378 runs with the help of 0 centuries and 1 half centuries.<br> 
* He has taken 255 wickets in 61 Test Matches<br>
* He has taken 195 wickets in 99 odi Matches<br>
* He has taken 51 wickets in 41 t20 Matches<br>
* He played International Cricket for 10 years

<br><br>
<h2>Mitchell Swepon</h2>
* He belongs to sydney. 
* He has taken 14 wickets in 7 t20 Matches<br>
* He played International Cricket for 1 years
</div>
</body>
</html>