<!DOCTYPE html>
{%load static%}
<html>

<head>
	<meta charset="utf-8">
	<title>home</title>
    <link rel="stylesheet" href="{% static 'images/css/style.css' %}">
    <style>
		h2{
			color:green;
		}
		.aus{
			background-color:aliceblue;
			color:orange;
		}

	</style>

</head>
<body>
    <div class="aus">
    <h2>soumya sarkar</h2>
    * He belongs to satkhira.<br>
    * In tests, he scored 831 runs in 16 matches<br> 
     * In ODI’s, he scored 1768 runs in 61 matches<br> 
    * In t20, he scored 1109 runs in 62 matches<br>
    * He has taken 4 wickets in 16 Test Matches<br>
    * He has taken 11 wickets in 61 odi Matches<br>
    * He has taken 9 wickets in 62 t20 Matches<br>
    * He played International Cricket for 7 years
    <br><br>
    <h2>mohammad naim</h2>
    * He belongs to dhaka south.<br>
     * In ODI’s, he scored 1 runs in 2 matches<br> 
    * In t20, he scored 570 runs in 22 matches<br>
    * He played International Cricket for 2 years
    <br><br>
    <h2>mahmudullah </h2>
    * He belongs to mymensingh.<br>
    * In tests, he scored 2914 runs in 50 matches<br> 
     * In ODI’s, he scored 4469 runs in 200 matches<br> 
    * In t20, he scored 1770 runs in 102 matches<br>
    * He has taken 43 wickets in 50 Test Matches<br>
    * He has taken 78 wickets in 200 odi Matches<br>
    * He has taken 33 wickets in 102 t20 Matches<br>
    * He played International Cricket for 14 years
    <br><br>
    <h2>shakib al hasan</h2>
    * He belongs to magura.<br>
    * In tests, he scored 3933 runs in 58 matches<br> 
    * In ODI’s, he scored 6600 runs in 215 matches<br> 
    * In t20, he scored 1763 runs in 88 matches<br>
    * He has taken 215 wickets in 58 Test Matches<br>
    * He has taken 277 wickets in 215 odi Matches<br>
    * He has taken 106 wickets in 88 t20 Matches<br>
    * He played International Cricket for 15 years
    <br><br>
    <h2>afif hossain</h2>
    * He belongs to khulna.<br>
     * In ODI’s, he scored 146 runs in 7 matches<br> 
    * In t20, he scored 373 runs in 28 matches<br>
    * He has taken 1 wickets in 7 odi Matches<br>
    * He has taken 7 wickets in 28 t20 Matches<br>
    * He played International Cricket for 3 years
    <br><br>
    <h2>shamim hossain</h2>
    * He belongs to chandpur.<br>
    * In t20, he scored 72 runs in 7 matches<br>
    * He has taken 0 wickets in 7 t20 Matches<br>
    * He played International Cricket for 1 years
    <br><br>
    <h2>mahedi hasan</h2>
    * He belongs to khulna .<br>
    * In ODI’s, he scored 24 runs in 3 matches<br> 
    * In t20, he scored 120 runs in 18 matches<br>
    * He has taken 2 wickets in 3 odi Matches<br>
    * He has taken 15 wickets in 18 t20 Matches<br>
    * He played International Cricket for 3 years
    <br><br>
    <h2>mohammad saifuddin</h2>
    * He belongs to chittagong .<br>
     * In ODI’s, he scored 362 runs in 29 matches<br> 
    * In t20, he scored 172 runs in 25 matches<br>
    * He has taken 41 wickets in 29 odi Matches<br>
    * He has taken 26 wickets in 25 t20 Matches<br>
    * He played International Cricket for 4 years
    <br><br>
    <h2>mushfiqur rahim</h2>
    * He belongs to bogra .<br>
    * In tests, he scored 4696 runs in 75 matches<br> 
     * In ODI’s, he scored 6581 runs in 227 matches<br> 
    * In t20, he scored 1321 runs in 91 matches<br>
    * He played International Cricket for 17 years
    <br><br>
    <h2>liton das</h2>
    * He belongs to dinajpur.<br>
    * In tests, he scored 1229 runs in 25 matches<br> 
     * In ODI’s, he scored 1335 runs in 47 matches<br> 
    * In t20, he scored 711 runs in 38 matches<br>
    * He played International Cricket for 6 years
    <br><br>
    <h2>nurul hasan</h2>
    * He belongs to khulna .<br>
    * In tests, he scored 115 runs in 3 matches<br> 
     * In ODI’s, he scored 113 runs in 3 matches<br> 
    * In t20, he scored 173 runs in 22 matches<br>
    * He played International Cricket for 5 years
    <br><br>
    <h2>mustafizur rahman</h2>
    * He belongs to satkhira .<br>
    * In tests, he scored 59 runs in 14 matches<br> 
     * In ODI’s, he scored 79 runs in 68 matches<br> 
    * In t20, he scored 47 runs in 52 matches<br>
    * He has taken 30 wickets in 14 Test Matches<br>
    * He has taken 127 wickets in 68 odi Matches<br>
    * He has taken 76 wickets in 52 t20 Matches<br>
    * He played International Cricket for 6 years
    <br><br>
    <h2>taskin ahmed</h2>
    * In tests, he scored 156 runs in 8 matches<br> 
     * In ODI’s, he scored 61 runs in 42 matches<br> 
    * In t20, he scored 48 runs in 24 matches<br>
    * He has taken 2 wickets in 8 Test Matches<br>
    * He has taken 55 wickets in 42 odi Matches<br>
    * He has taken 15 wickets in 24 t20 Matches<br>
    * He played International Cricket for 7 years
    <br><br>
    <h2>shoriful islam</h2>
    * He belongs to punchagar .<br>
    * In tests, he scored 0 runs in 1 matches<br> 
     * In ODI’s, he scored 8 runs in 4 matches<br> 
    * In t20, he scored 11 runs in 11 matches<br>
    * He has taken 1 wickets in 1 Test Matches<br>
    * He has taken 7 wickets in 4 odi Matches<br>
    * He has taken 17 wickets in 11 t20 Matches<br>
    * He played International Cricket for 1 years
    <br><br>
    <h2>nasum ahmed</h2>
    * In t20, he scored 8 runs in 14 matches<br>
    * He has taken 18 wickets in 14 t20 Matches<br>
    * He played International Cricket for 7 years
    <br><br>
    </div>
    
</body>
</html>