<!DOCTYPE html>
{%load static%}
<html>

<head>
	<meta charset="utf-8">
	<title>home</title>
    <link rel="stylesheet" href="{% static 'images/css/style.css' %}">
    <style>
        h2{
            color: crimson;
        }
    </style>
    
</head>
<body>
    <h2>eoin morgan rampaul</h2>
    * He belongs to bublin.<br>
    * In tests, he scored 700 runs in 16 matches<br> 
     * In ODI’s, he scored 7701 runs in 246 matches<br> 
    * In t20, he scored 2360 runs in 107 matches<br>
    * He played International Cricket for 15 years
    <br><br>
    <h2>liam livingstone </h2>
    * He belongs to cumberland.<br>
     * In ODI’s, he scored 72 runs in 3 matches<br> 
    * In t20, he scored 206 runs in 8 matches<br>
    * He has taken 1 wickets in 3 odi Matches<br>
    * He has taken 2 wickets in 8 t20 Matches<br>
    * He played International Cricket for 4 years
    <br><br>
    <h2>dawid malan </h2>
    * He belongs to roehampton.<br>
    * In tests, he scored 830 runs in 17 matches<br> 
     * In ODI’s, he scored 158 runs in 6 matches<br> 
    * In t20, he scored 1123 runs in 30 matches<br>
    * He played International Cricket for 4 year
    <br><br>
    <h2>jason roy </h2>
    * He belongs to durban.<br>
    * In tests, he scored 187 runs in 5 matches<br> 
     * In ODI’s, he scored 3658 runs in 98 matches<br> 
    * In t20, he scored 1193 runs in 48 matches<br>
    * He played International Cricket for 7 years
    <br><br>
    <h2>moeen ali</h2>
    * He belongs to birmingham.<br>
    * In tests, he scored 2914 runs in 64 matches<br> 
     * In ODI’s, he scored 1877 runs in 112 matches<br> 
    * In t20, he scored 437 runs in 38 matches<br>
    * He has taken 195 wickets in 64 Test Matches<br>
    * He has taken 87 wickets in 112 odi Matches<br>
    * He has taken 21 wickets in 38 t20 Matches<br>
    * He played International Cricket for 18 years
    <br><br>
    <h2>sam curran </h2>
    * He belongs to northampton.<br>
    * In tests, he scored 815 runs in 24 matches<br> 
     * In ODI’s, he scored 141 runs in 11 matches<br> 
    * In t20, he scored 91 runs in 16 matches<br>
    * He has taken 47 wickets in 24 Test Matches<br>
    * He has taken 12 wickets in 11 odi Matches<br>
    * He has taken 16 wickets in 16 t20 Matches<br>
    * He played International Cricket for 3 years
    <br><br>
    <h2>david willey</h2>
    * He belongs to northampton.<br>
     * In ODI’s, he scored 377 runs in 52 matches<br> 
    * In t20, he scored 182 runs in 32 matches<br>
    * He has taken 69 wickets in 52 odi Matches<br>
    * He has taken 38 wickets in 32 t20 Matches<br>
    * He played International Cricket for 6 years
    <br><br>
    <h2>chris woakes</h2>
    * He belongs to birmingham.<br>
    * In tests, he scored 1389 runs in 39 matches<br> 
     * In ODI’s, he scored 1315 runs in 106 matches<br> 
    * In t20, he scored 91 runs in 10 matches<br>
    * He has taken 119 wickets in 39 Test Matches<br>
    * He has taken 155 wickets in 106 odi Matches<br>
    * He has taken 8 wickets in 10 t20 Matches<br>
    * He played International Cricket for 11 years
    <br><br>
    <h2>jonny bairstow </h2>
    * He belongs to yorkshire.<br>
    * In tests, he scored 4381 runs in 78 matches<br> 
     * In ODI’s, he scored 3498 runs in 89 matches<br> 
    * In t20, he scored 1143 runs in 57 matches<br>
    * He played International Cricket for 11 years
    <br><br>
    <h2>sam billings</h2>
    * He belongs to kent.<br>
     * In ODI’s, he scored 607 runs in 25 matches<br> 
    * In t20, he scored 417 runs in 32 matches<br>
    * He played International Cricket for 6 years
    <br><br>
    <h2>jos buttler</h2>
    * He belongs to somerset.<br>
    * In tests, he scored 2800 runs in 53 matches<br> 
     * In ODI’s, he scored 3872 runs in 148 matches<br> 
    * In t20, he scored 1871 runs in 82 matches<br>
    * He played International Cricket for 11 years
    <br><br>
    <h2>chris jordan </h2>
    * He belongs to barbados.<br>
    * In tests, he scored 180 runs in 8 matches<br> 
     * In ODI’s, he scored 170 runs in 34 matches<br> 
    * In t20, he scored 296 runs in 65 matches<br>
    * He has taken 21 wickets in 8 Test Matches<br>
    * He has taken 45 wickets in 34 odi Matches<br>
    * He has taken 73 wickets in 65 t20 Matches<br>
    * He played International Cricket for 8 years
    <br><br>
    <h2>tymal mills</h2>
    * He belongs to yorkshire.<br>
    . He has taken 3 wickets in 5 t20 Matches<br>
    * He played International Cricket for 5 years
    <br><br>
    <h2>adil rashid</h2>
    * He belongs to yorkshire.<br>
    * In tests, he scored 540 runs in 19 matches<br> 
     * In ODI’s, he scored 663 runs in 112 matches<br> 
    * In t20, he scored 58 runs in 62 matches<br>
    * He has taken 60 wickets in 19 Test Matches<br>
    * He has taken 159 wickets in 112 odi Matches<br>
    * He has taken 65 wickets in 62 t20 Matches<br>
    * He played International Cricket for 12 years
    <br><br>
    <h2>mark wood</h2>
    * He belongs to northumberland.<br>
    * In tests, he scored 477 runs in 21 matches<br> 
     * In ODI’s, he scored 72 runs in 57 matches<br> 
    * In t20, he scored 10 runs in 17 matches<br>
    * He has taken 64 wickets in 21 Test Matches<br>
    * He has taken 69 wickets in 57 odi Matches<br>
    * He has taken 26 wickets in 17 t20 Matches<br>
    * He played International Cricket for 6 years
    <br><br>
</body>
</html>