<!DOCTYPE html>
{%load static%}
<html>

<head>
	<meta charset="utf-8">
	<title>home</title>
    <link rel="stylesheet" href="{% static 'images/css/style.css' %}">
    <style>
		h2{
			color:green;
		}
		.aus{
			background-color:aqua;
			color:orange;
		}

	</style>
    </head>
<body>
    <div class="aus">
    
    <h2>1. Sachin Tendulkar</h2>

He belongs to Mumbai. He has scored 15921 runs in 200 Test Matches with the help of 51 centuries and 68 half centuries. In ODI’s, he scored 18426 runs with the help of 49 centuries and 96 half centuries. He played International Cricket for 24 years and won various awards and trophies. He is regarded as the God of Cricket as he established records in every aspect of batting.
<br><br>
<h2>2. Rahul Dravid</h2>

He belongs to Bangalore. He has scored 13288 runs in 164 Test Matches with the help of 36 centuries and 63 half centuries. In ODI’s, he scored 10889 runs with the help of 12 centuries and 83 half centuries. He played International Cricket for 15 years and is nicknamed ‘The Wall’ for his expertise in defensive game.
<br><br>
<h2>3. Sourav Ganguly</h2>

He belongs to Calcutta. He has scored 7212 runs in 113 Test Matches with the help of 16 centuries and 35 half centuries. In ODI’s, he scored 11363 runs with the help of 22 centuries and 72 half centuries. He played International Cricket for 16 years, is nicknamed ‘Dada’ and is the current president of the BCCI. He is credited for bringing the aggressive style of play to the Indian side.
<br><br>
<h2>4. Kapil Dev</h2>

He belongs to Chandigarh. He has scored 5248 runs in 131 Test Matches with the help of 8 centuries and 27 half centuries. In ODI’s, he scored 3783 runs with the help of 1 century and 14 half centuries. He also took 434 wickets in Tests and 253 wickets in ODIs. He played International Cricket for 16 years and is regarded as one of the greatest all-rounders of Cricket. India won its first World cup under his captaincy in 1983.
<br><br>
<h2>5. VVS Laxman</h2>

He belongs to Hyderabad. He has scored 8781 runs in 134 Test Matches with the help of 17 centuries and 56 half centuries. In ODI’s, he scored 2388 runs with the help of 6 centuries and 10 half centuries. He played International Cricket for 16 years and was regarded as one of the most dependable middle order batsmen.
<br><br>
<h2>6. Mahendra Singh Dhoni</h2>

He belongs to Ranchi. He has scored 4876 runs in 90 Test Matches with the help of 6 centuries and 33 half centuries. In ODI’s, he scored 10773 runs with the help of 10 centuries and 73 half centuries. While keeping the wickets, he has taken 256 catches in Tests and 321 in ODIs. He has been playing International Cricket since 2004 and is one of the greatest Indian Captains with many ICC and IPL trophies under his cap.
<br><br>
<h2>7. Sunil Gavaskar</h2>

He belongs to Mumbai. He has scored 10122 runs in 125 Test Matches with the help of 34 centuries and 45 half centuries. In ODI’s, he scored 3092 runs with the help of 1 century and 27 half centuries. He played International Cricket for 16 years and has various records under his name.
<br><br>
<h2>8. Virat Kohli</h2>

He belongs to Delhi. He has scored 7240 runs in 86 Test Matches with the help of 27 centuries and 22 half centuries. In ODI’s, he has scored 11867 runs at an astonishing average of 59.34 with the help of 43 centuries and 58 half centuries. He has been playing International Cricket since 2008 and has excelled in the art of chasing targets. He is the current captain of Indian team in all 3 formats.
<br><br>
<h2>9. Anil Kumble</h2>

This Leg spinner belongs to Bangalore. He has taken 619 wickets in 132 Test Matches at an average of 29.65. He has taken 35 5-wicket hauls in Tests. In ODIs, he has taken 337 wickets at an average of 30.89 He has also scored 2506 runs in Test Matches and 938 runs in ODIs. He played International Cricket for 18 years and is the leading wicket taker for India in International cricket.
<br><br>
<h2>10. Harbhajan Singh</h2>

This off spinner belongs to Punjab. He took 417 wickets in 103 Test Matches at an average of 32.46. He has taken 25 5-wicket hauls in Tests. In ODIs, he has taken 269 wickets at an average of 33.45. He has also scored 2224 runs in Test Matches and 1237 runs in ODIs. He played International Cricket for 18 years.
<br><br>
<h2>11. Gautam Gambhir</h2>

He belongs to Delhi. He has scored 4154 runs in 58 Test Matches with the help of 9 centuries and 22 half centuries. In ODI’s, he scored 5238 runs with the help of 11 centuries and 34 half centuries. He played International Cricket for 13 years and won various awards and trophies. He is fondly remembered for his great innings in the 2007 T20 world cup final and in the 2011 ODI world cup final.
<br><br>
<h2>12. Zaheer Khan</h2>

This left arm pacer belongs to Maharashtra. He has taken 311 wickets in 92 Test Matches at an average of 32.95. He has taken 11 5-wicket hauls in Tests. In ODIs, he has taken 282 wickets at an average of 29.44. He has also scored 1230 runs in Test Matches. He played International Cricket for 14 years.
<br><br>
<h2>13. Mohammed Azaharuddin</h2>

He belongs to Mumbai. He has scored 6215 runs in 99 Test Matches with the help of 22 centuries and 21 half centuries. In ODI’s, he scored 9378 runs with the help of 7 centuries and 58 half centuries. He played International Cricket for 16 years and won various awards and trophies while captaining the Indian team.
<br><br>
<h2>14. Virendra Sehwag</h2>

He belongs to Delhi. He has scored 8586 runs in 104 Test Matches with the help of 23 centuries and 32 half centuries. In ODI’s, he scored 8273 runs with the help of 15 centuries and 38 half centuries. He played International Cricket for 14 years and was a destructive opener who attacked the opposition right from the beginning.
<br><br>
<h2> 15.Yuvraj Singh</h2>

He belongs to Chandigarh. He has scored 1900 runs in 40 Test Matches with the help of 3 centuries and 11 half centuries. In ODI’s, he scored 8701 runs with the help of 14 century and 52 half centuries. He took 120 wickets in ODIs. He played International Cricket for 17 years and is well known for hitting 6 sixes in an over in the 2007 T20 World cup.
<br><br>

<h2>16. Rohit Sharma</h2>

He belongs to Mumbai. He has scored 2141 runs in 32 Test Matches with the help of 6 centuries and 10 half centuries. In ODI’s, he scored 9115 runs with the help of 29 centuries and 43 half centuries. He has been playing International Cricket since 2007 and is nicknamed ‘Hitman’ due to his flamboyant style of play.
<br><br>
<h2>17. Dilip Vengasarkar</h2>

He belongs to Bombay. He has scored 6868 runs in 116 Test Matches with the help of 17 centuries and 35 half centuries. In ODI’s, he scored 3508 runs with the help of 1 century and 23 half centuries. He played International Cricket for 16 years and was a reliable batsmen for the team.
<br><br>
<h2>18. Shikhar Dhawan</h2>

He belongs to Delhi. He has scored 2315 runs in 34 Test Matches with the help of 7 centuries and 5 half centuries. In ODI’s, he scored 5650 runs with the help of 17 centuries and 29 half centuries. He has been playing International Cricket since 2010 and is a very good opener.
<br><br>
<h2>19. BS Chandrashekhar</h2>

This leg spinner belongs to Mysore. He has taken 242 wickets in 58 Test Matches at an average of 29.74. He has taken 16 5-wicket hauls in Tests. In First class Cricket, he has taken 1063 wickets at an average of 24.03. He played International Cricket for 15 years.
<br><br>
<h2>20. Bishan Singh Bedi</h2>

This left arm orthodox bowler belongs to Punjab. He has taken 266 wickets in 67 Test Matches at an average of 28.71. He has taken 14 5-wicket hauls in Tests. In First class Cricket, he has taken 1560 wickets at an average of 21.69. He played International Cricket for 13 years.
<br><br>
<h2>21. Ravichandran Ashwin</h2>

This right arm off break bowler belongs to Chennai. He has taken 362 wickets in 70 Test Matches at an average of 25.36. He has taken 27 5-wicket hauls in Tests. In ODIs, he has taken 150 wickets at an average of 32.91. He has also scored 2385 runs in Test Matches and 675 runs in ODIs. He has been playing International Cricket since 2010.
<br><br>
<h2>22. Venkatesh Prasad</h2>

This right arm pacer belongs to Bangalore. He has taken 96 wickets in 33 Test Matches at an average of 35. He has taken 7 5-wicket hauls in Tests. In ODIs, he has taken 196 wickets at an average of 32.30. He played International Cricket for 7 years.
<br><br>
<h2>23. Ajit Agarkar</h2>

This all rounder belongs to Mumbai. He has taken 58 wickets in 26 Test Matches at an average of 47.32. In ODIs, he has taken 288 wickets at an average of 27.85. He has also scored 571 runs in Test Matches and 1269 runs in ODIs. He played International Cricket for 9 years.
<br><br>
<h2>24. Jasprit Bumrah</h2>

This right arm fast bowler belongs to Gujarat. He has taken 62 wickets in 12 Test Matches at an average of 20.63. He has taken 4 5-wicket hauls in Tests. In ODIs, he has taken 104 wickets at an average of 25.88. In T20 Internationals, he has taken 59 wickets. He has been playing International Cricket since 2016 and is currently the ace bowler for Indian in all 3 formats.
<br><br>
<h2>25. Javagal Srinath</h2>

This right arm fast bowler belongs to Karnataka. He has taken 236 wickets in 67 Test Matches at an average of 30.49 He has taken 10 5-wicket hauls in Tests. In ODIs, he has taken 315 wickets at an average of 28.08. He has also scored 1009 runs in Test Matches. He played International Cricket for 12 years and is currently an ICC Referee.
<br><br>
<h2>26. Ajinkya Rahane</h2>

He belongs to Maharashtra. He has scored 4203 runs in 65 Test Matches with the help of 11 centuries and 22 half centuries. In ODI’s, he scored 2962 runs with the help of 3 centuries and 24 half centuries. He has been playing International Cricket since 2011 and is part of the backbone of the Test team.
<br><br>
<h2>27. Suresh Raina</h2>

He belongs to Uttar Pradesh. In ODI’s, he scored 5615 runs with the help of 5 centuries and 36 half centuries. He has been playing International Cricket since 2005 and is also very successful in IPL playing for CSK.
<br><br>
<h2>28. Gundappa Vishwanath</h2>

He belongs to Mysore. He has scored 2315 runs in 34 Test Matches with the help of 7 centuries and 5 half centuries. In ODI’s, he scored 5650 runs with the help of 17 centuries and 29 half centuries. He played International Cricket for 14 years.
<br><br>
<h2>29. Mansoor Ali Khan Pataudi</h2>

He belongs to Bhopal. He has scored 2793 runs in 46 Test Matches with the help of 6 centuries and 17 half centuries. In first class Cricket, he scored 15425 runs with the help of 33 centuries and 75 half centuries. His right eye was damaged, yet he was an outstanding fielder. He captained the Indian Side at an age of 21, which was a record till 2004 for youngest captain in International test matches.
<br><br>
<h2>30. Krishnamachari Srikkanth</h2>

He belongs to Madras. He has scored 2062 runs in 43 Test Matches with the help of 2 centuries and 12 half centuries. In ODI’s, he scored 4091 runs with the help of 4 centuries and 27 half centuries. He played International Cricket for 11 years and was famous for his aggressive style of play.
<br><br>
<h2>31. Srinivas Venkataraghavan</h2>

This right arm off break bowler belongs to Madras. He has taken 156 wickets in 57 Test Matches at an average of 36.11. He has taken 3 5-wicket hauls in Tests. In First class Cricket, he has taken 1390 wickets at an average of 24.14.  He played International Cricket for 18 years and was also an ICC elite umpire.
<br><br>
<h2>32. Ajay Jadeja</h2>

He belongs to Guajarat. He has scored 576 runs in 15 Test Matches with the help of 4 half centuries. In ODI’s, he scored 5359 runs with the help of 6 centuries and 30 half centuries. He played International Cricket for 8 years and was a good finisher of the game.
<br><br>
<h2>33. Ravindra Jadeja</h2>

He belongs to Gujarat. He has scored 1869 runs in 49 Test Matches with the help of 1 century and 14 half centuries. In ODI’s, he scored 2296 runs with the help of 12 half centuries. He also has taken 213 wickets in Tests and 187 wickets in ODIs. He has been playing International Cricket since 2009 and is one of the finest fielders of the world. 
<br><br>
<h2>34. C.K. Nayudu</h2>

He was the first captain of the Indian Cricket Team in International test matches. He has scored 350 runs in 7 Test Matches with the help of 2 half centuries. In first class Cricket, 11825 runs and took 411 wickets in 207 matches. He played International Cricket for 4 years.
<br><br>
<h2> 35.Ajit Wadekar</h2>

He belongs to Mumbai. He has scored 2113 runs in 37 Test Matches with the help of 1 century and 14 half centuries. He played International Cricket for 8 and was widely known for his aggressive style of play. He captained India in its first series wins in West Indies and England in 1971.
<br><br>
<h2>36. Mohinder Amarnath</h2>

He belongs to Punjab. He has scored 4378 runs in 69 Test Matches with the help of 11 centuries and 24 half centuries. In ODI’s, he scored 1924 runs with the help of 2 centuries and 13 half centuries. He also took 32 wickets in Test matches and 46 in ODIs. He played International Cricket for 20 years.
<br><br>
<h2>37. Syed Kirmani</h2>

He belongs to Madras. He has scored 2759 runs in 88 Test Matches with the help of 2 centuries and 12 half centuries. While keeping the wickets, he has taken 160 catches in Tests and 27 in ODIs.
<br><br>
<h2>38. Ravi Shastri</h2>

He belongs to Mumbai. He has scored 3830 runs in 80 Test Matches with the help of 11 centuries and 12 half centuries. In ODI’s, he scored 3108 runs with the help of 4 centuries and 18 half centuries. He also took 151 wickets in Tests and 129 wickets in ODIs. He played International Cricket for 11 years and is the current coach of the Indian team.
<br><br>
<h2>39. Navjot Singh Siddhu</h2>

He belongs to Punjab. He has scored 3202 runs in 51 Test Matches with the help of 9 centuries and 15 half centuries. In ODI’s, he scored 4413 runs with the help of 6 centuries and 33 half centuries. He played International Cricket for 16 and was widely known for hitting sixes.
<br><br>
<h2>40. Polly Umrigar</h2>

He belongs to Mumbai. He has scored 3631 runs in 59 Test Matches with the help of 12 centuries and 14 half centuries. In first class Cricket, he scored 16155 runs with the help of 48 centuries and 80 half centuries. He played International Cricket for 22 years and was the first centurion for India. He was the first Indian to score a Double century in Test matches.
<br><br>
<h2>41. Hardik Pandya</h2>

He belongs to Gujarat. He has scored 532 runs in 11 Test Matches with the help of 1 century and 4 half centuries. In ODI’s, he scored 757 runs with the help of 4 half centuries. He has also taken 17 wickets in Tests and 45 wickets in ODIs. He has been playing International Cricket since 2016.
<br><br>
<h2>42. Irfan Pathan</h2>

He belongs to Vadodara. He has scored 1105 runs in 29 Test Matches with the help of 1 century and 7 half centuries. In ODI’s, he scored 1544 runs with the help of 5 half centuries. He has also taken 100 wickets in Tests and 173 wickets in ODIs. He played International Cricket for 9 years.
<br><br>
<h2>43. Cheteshwar Pujara</h2>

He belongs to Rajkot. He has scored 5750 runs in 75 Test Matches with the help of 18 centuries and 24 half centuries. He has been playing International Cricket since 2010 and is a core part of the Indian Test team. 
<br><br>
<h2>44. Bhuvneshwar Kumar</h2>

This right arm fast medium bowler belongs to Uttar Pradesh. He has taken 63 wickets in 21 Test Matches at an average of 26.09 He has taken 4 5-wicket hauls in Tests. In ODIs, he has taken 132 wickets at an average of 34.60. In T20 Internationals, he has taken 41 wickets. He has been playing International Cricket since 2012.
<br><br>
<h2>45. Mohammed Shami</h2>

This right arm fast bowler belongs to Uttar Pradesh. He has taken 180 wickets in 49 Test Matches at an average of 27.36. He has taken 5 5-wicket hauls in Tests. In ODIs, he has taken 144 wickets at an average of 25.42. He has been playing International Cricket since 2013 and is known for consistently clocking top speeds.
<br><br>
<h2>46. Ishant Sharma</h2>

This right arm fast medium bowler belongs to Delhi. He has taken 297 wickets in 97 Test Matches at an average of 32.39. He has taken 11 5-wicket hauls in Tests. In ODIs, he has taken 115 wickets at an average of 30.98. He has been playing International Cricket since 2007.
<br><br>
<h2>47. Vinoo Mankad</h2>

He belongs to Jamnagar. He has scored 2109 runs in 44 Test Matches with the help of 5 centuries and 6 half centuries. In first class Cricket, he scored 11591 runs with the help of 26 century and 52 half centuries. He took 162 wickets in Test matches and 782 wickets in first class matches.
<br><br>
<h2>48. Erapalli Prasanna</h2>

This right arm off break bowler belongs to Bangalore. He has taken 189 wickets in 49 Test Matches at an average of 30.38. He has taken 10 5-wicket hauls in Tests. In First class Cricket, he has taken 957 wickets at an average of 23.45. He played International Cricket for 16 years.
<br><br>
<h2>49. Lala Amarnath</h2>

He belongs to Punjab. He has scored 878 runs in 24 Test Matches with the help of 1 century and 4 half centuries. In first class Cricket, he scored 10426 runs with the help of 31 century and 59 half centuries. He played International Cricket for 22 years and was the first centurion for India.
<br><br>
<h2>50. Amit Mishra</h2>

This right arm leg break bowler belongs to Faridabad. He has taken 76 wickets in 22 Test Matches at an average of 35.72 He has taken 1 5-wicket haul in Tests. In ODIs, he has taken 64 wickets at an average of 23.60. In T20 Internationals, he has taken 14 wickets. He has been playing International Cricket since 2003.
<br><br>
<h2>51. Sanjay Manjrekar</h2>

He belongs to Mangalore. He has scored 2043 runs in 37 Test Matches with the help of 4 centuries and 9 half centuries. In ODI’s, he scored 1994 runs with the help of 1 century and 15 half centuries. He played International Cricket for 9 years and was a handy batsman along with being a good fielder.
<br><br>
<h2>52. Vijaya Hazare</h2>

He belongs to Mumbai. He has scored 2192 runs in 30 Test Matches with the help of 7 centuries and 9 half centuries. He played International Cricket for 7 years. He also scored 18740 runs in first class cricket. He led India to its first international test win in 1951.
<br><br>
<h2>53. Vijay Manjrekar</h2>

He belongs to Mumbai. He has scored 3202 runs in 55 Test Matches with the help of 7 centuries and 15 half centuries. He played International Cricket for 14 and was an elegant batsman.
<br><br>
<h2>54. Madan Lal</h2>

This right arm medium bowler belongs to Punjab. He has taken 71 wickets in 39 Test Matches at an average of 40. He has taken 4 5-wicket hauls in Tests. He has taken 73 wickets in 67 ODIs. In First class Cricket, he has taken 625 wickets at an average of 25.50. He played International Cricket for 13 years.
<br><br>
<h2>55. Nari Contractor</h2>

He belongs to Gujarat. He has scored 1611 runs in 31 Test Matches with the help of 1 century and 11 half centuries. He played International Cricket for 7 years. He also scored 8611 runs in first class cricket. His shining Cricket career ended unfortunately because of an injury. 
<br><br>
<h2>56. Vinod Kambli</h2>

He belongs to Mumbai. He has scored 1084 runs in 17 Test Matches with the help of 4 centuries and 3 half centuries. In ODI’s, he scored 2477 runs with the help of 2 centuries and 14 half centuries. He played International Cricket for 9 years and was a promising batsman who had a test match average of 54.20.
<br><br>

<h2>57. Ashish Nehra</h2>

This left arm fast medium bowler belongs to Delhi. He has taken 44 wickets in 17 Test Matches. In ODIs, he has taken 157 wickets at an average of 31.57. In T20 Internationals, he has taken 34 wickets. He played International Cricket for 18 years and was troubled by injuries throughout his career.
<br><br>
<h2>>58. Chandu Borde</h2>

He belongs to Pune. He has scored 3016 runs in 55 Test Matches with the help of 5 centuries and 18 half centuries. In first class Cricket, he scored 12805 runs with the help of 30 centuries and 72 half centuries. He played International Cricket for 11 years and also took 331 wickets in first class matches.
<br><br>
<h2>59. Bapu Nadkarni</h2>

He belongs to Maharashtra. He has scored 1414 runs in 41 Test Matches with the help of 1 century and 7 half centuries. In first class Cricket, he scored 8880 runs with the help of 14 century and 46 half centuries. He took 88 wickets in Tests and 500 wickets in first class matches. He is well known for being the most economical bowlers in the history of the game.
<br><br>
<h2>60. Rishabh Pant</h2>

He belongs to Roorkee. He has scored 814 runs in 13 Test Matches with the help of 2 centuries and 2 half centuries. In T20 Internationals, he has scored 410 runs. While keeping the wickets, he has taken 74 catches and 15 stumpings in international matches. He has been playing International cricket since 2017 and is quite famous for his power hitting.
<br><br>
<h2>61. Mohammad Kaif</h2>

He belongs to Allahabad. He has scored 624 runs in 13 Test Matches with the help of 1 century and 3 half centuries. In ODI’s, he scored 2753 runs with the help of 2 centuries and 17 half centuries. He played International Cricket for 6 years and is famous for his Innings in 2002 Natwest finals. He was also a quick fielder.
<br><br>
<h2>62. K.L. Rahul</h2>

He belongs to Mangalore. He has scored 2006 runs in 36 Test Matches with the help of 5 centuries and 11 half centuries. In ODI’s, he scored 1239 runs with the help of 4 centuries and 7 half centuries. He has been playing International Cricket since 2014 and is a part of the team in all 3 formats.
<br><br>
<h2>63. Yusuf Pathan</h2>

He belongs to Vadodara. In ODI’s, he scored 810 runs with the help of 2 centuries and 3 half centuries. He also took 33 wickets in ODIs. He played International Cricket for 5 and was established as a pinch hitter.
<br><br>

<h2>64. Manoj Prabhakar</h2>

He scored 1600 runs in 39 Test Matches with the help of 1 century and 9 half centuries. In ODIs, he scored 1858 runs with the help of 2 centuries and 11 half centuries. He took 96 wickets in Tests and 157 wickets in ODIs. He was a good opener which is showcased by his statistics.
<br><br>
<h2>65. Nayan Mongia</h2>

He belongs to Gujarat. He has scored 1442 runs in 44 Test Matches with the help of 1 century and 6 half centuries. In ODI’s, he scored 1272 runs with the help of 2 half centuries. While keeping the wickets, he has taken 99 catches in Tests and 110 in ODIs.
<br><br>

<h2>66. Umesh Yadav</h2>

This right arm fast bowler belongs to Maharashtra. He has taken 142 wickets in 45 Test Matches at an average of 30.26. He has taken 3 5-wicket hauls in Tests. In ODIs, he has taken 106 wickets at an average of 33.63. He has been playing International Cricket since 2010.
<br><br>

</div>


</body>
</html>