<!DOCTYPE html>
{% extends "web/all.html" %}

{%load static%}
<html>

<head>
    {% block body_block %}
	<meta charset="utf-8">
	<title>home</title>
    <link rel="stylesheet" href="{% static 'images/css/style.css' %}">
    <style>
        h4{ color: blue;}
        p{color: forestgreen;}
        h2{color: indigo;}
    </style>
 </head>
 <body>
     <h2>which country invented Cricket?</h2>
     <h4>ENGLAND</h4>
     <p>The earliest reference to cricket is in South East England in the mid-16th century. It spread globally with the expansion of the British Empire, with the first international matches in the second half of the 19th century. The game's governing body is the International Cricket Council (ICC), which has over 100 members</p>
    <br>

    <h2>When was the 1st cricket Test match played?</h2>
    <h4>1877</h4>
    <p>The first Test match, played by two national teams, was between Australia and England in Melbourne in 1877, with Australia winning.</p>
    
    <h2>who scored the first century in test cricket?</h2>
    <h4>Charles Bannerman</h4>
    <p>The first century in Test cricket was scored by Charles Bannerman who scored 165 (before retiring hurt) in the first ever Test between Australia and England (played at the Melbourne Cricket Ground from 15 to 19 March 1877).</p>
    
    <h2>who take the first wicket in  test cricket?</h2>
    <h4>Allen Hill</h4>
    <p>The first wicket and first catch in Test cricket history were taken by England's Allen Hill on the first morning of the first Test in 1877. Hill bowled Australia's Nat Thomson for one run to claim Test cricket's first wicket.</p>
     
    <h2>who hit first four in test cricket?</h2>
    <h4>Charles Bannerman</h4>
    <p>Charles Bannerman (3 July 1851 – 20 August 1930) was an English-born Australian cricketer. A right-handed batsman, he represented Australia in three Test matches between 1877 and 1879.</p>
     
    <h2>who hit first six in  test cricket?</h2>
    <h4>Joe Darling</h4>
    <p>The first six in international cricket was hit by Australian batsman Joe Darling in 1898, almost 21 years after the first Test was played. Back then, a six had to be hit out of the ground as hits over the boundary counted as five.</p>
     
    <h2>who hit fastest century in test cricket?</h2>
    <h4>Brendan McCullum</h4>
    <p>New Zealand's Brendan McCullum holds the record for the fastest test cricket century of all time - he took just 54 balls to reach the milestone in a match against Australia in Christchurch in the 2015/16 season.</p>
     
    <h2>who hit fastest half century in test cricket?</h2>
    <h4>Misbah-ul-Haq</h4>
    <p>Pakistan's Misbah-ul-Haq holds the record of the fastest Test half century, scoring 50 runs from 21 balls vs austrelia</p>

    <h2>When was the 1st ODI match played?</h2>
    <h4>5 January 1971</h4>
    <p>The first ODI was played on 5 January 1971 between Australia and England at the Melbourne Cricket Ground. When the first three days of the third Test were washed out officials decided to abandon the match and, instead, play a one-off one day game consisting of 40 eight-ball overs per side.</p>


    <h2>who was the first person scored hundred in Odi?</h2>
    <h4>Dennis Amiss</h4>
    <p>England's Dennis Amiss was the first debutant to score a century in ODIs; he scored 103 runs off 134 balls against Australia during the first match of the Prudential Trophy in 1972. His total was surpassed by Desmond Haynes of West Indies when he made 148 against Australia in 1978.</p>


    <h2>who was the first person scored half century in Odi?</h2>
    <h4>John Edrich of England</h4>
    <p>In the first ever ODI match John Edrich of England scored the first ever half century. He scored 82 runs which remained the highest individual score for that match.</p>
     
    <h2>who hit fastest century in odi cricket?</h2>
    <h4>AB de Villiers</h4>
    <p>South Africa's AB de Villiers holds the record for the fastest ODI century of all time - he took just 31 balls to reach the milestone in a match against the West Indies in Johannesburg in 2015</p>
    
    <h2>who hit fastest half century in odi cricket?</h2>
    <h4>Sanath Jayasuriya</h4>
    <p>In 1996, Sri Lankan opener Sanath Jayasuriya scored fifty in 17 balls against Pakistan.</p>


    <h2>who taken the first wicket in odi cricket?</h2>
    <h4>Alan Thomson</h4>
    <p>alan thomson was the first player to take wicket in odi cricket history .the wicket was geoffrey boycott</p>

    <h2>who hit first six in odi cricket?</h2>
    <h4>Ian Chappel</h4>
    <p>Ian Chappel (Australia) was the first person to hit a six in an ODI, he hit Ray Illingworth (England) over long on for a six.</p>
    
    <h2>When was the 1st T20 match played?</h2>
    <h4>17 february 2005</h4>
    <p>On 17 February 2005 Australia defeated New Zealand in the first men's international Twenty20 match, played at Eden Park in Auckland.</p>
     
    <h2>who was the first person scored hundred in T20?</h2>
    <h4>Chris Gayle</h4>
    <p>This is regarded as a notable achievement. The first century in a T20I match was scored by Chris Gayle of the West Indies who made 117 against South Africa at the inaugural ICC World Twenty20 in 2007.</p>
    
    
    <h2>who was the first person scored half century in T20?</h2>
    <h4>ricky ponting</h4>
    <p>ricky ponting was the first person to score half century in t20 againist new Zealand.he totally scored 98(55)</p>
     
    <h2>who hit fastest century in t20 cricket?</h2>
    <h4>David Miller</h4>
    <h4>Rohit Sharma</h4>
    <h4>S Wickramasekara</h4>
    <p>the joint record for the fastest international T20 century of all time - they took just 35 balls to reach the milestone</p>

    <h2>who hit fastest  half century in t20 cricket?</h2>
    <h4>Yuvraj Singh</h4>
    <p>The southpaw brought up his fifty in just 12 balls, thus helping India set a mammoth target of 219 for England in 20 overs. England lost by 19 runs.</p>
    
    <h2>who hit first six in t20 cricket?</h2>
    <h4>Michael Clarke</h4>
    <p>the first-ever six of the format was registered on 17th February 2005 during the first-ever Men’s T20I played between New Zealand and Australia at Auckland’s Eden Park.</p>
    
    <h2>who taken the first wicket in t20 cricket?</h2>
    <h4>tuffey</h4>






    
    {% endblock %}
 </body>
 </html>