<!DOCTYPE html>
{%load static%}
<html>

<head>
	<meta charset="utf-8">
	<title>home</title>
    <link rel="stylesheet" href="{% static 'images/css/style.css' %}">
    <style>
		h2{
			color:green;
		}
		.aus{
			background-color:aqua;
			color:orange;
		}

	</style>
</head>
<body>
    <div class="aus">
    <h2>andrew balbirnie</h2>
    * He belongs to dublin.<br>
    * In tests, he scored 146 runs in 3 matches<br> 
     * In ODI’s, he scored 2462 runs in 83 matches<br> 
    * In t20, he scored 1082 runs in 50 matches<br>
    * He has taken 2 wickets in 83 odi Matches<br>
    * He played International Cricket for 11 years
    <br><br>
    <h2>shane getkate</h2>
    * He belongs to irland.<br>
     * In ODI’s, he scored 23 runs in 4 matches<br> 
    * In t20, he scored 180 runs in 23 matches<br>
    * He has taken 7 wickets in 4 odi Matches<br>
    * He has taken 16 wickets in 23 t20 Matches<br>
    * He played International Cricket for 12 years
    <br><br>
    <h2>harry tector</h2>
     * In ODI’s, he scored 511 runs in 17 matches<br> 
    * In t20, he scored 413 runs in 25 matches<br>
    * He has taken 1 wickets in 17 odi Matches<br>
    * He played International Cricket for 2 years
    <br><br>
    <h2>gareth delany</h2>
    * He belongs to dublin.<br>
     * In ODI’s, he scored 120 runs in 9 matches<br> 
    * In t20, he scored 436 runs in 23 matches<br>
    * He has taken 3 wickets in 9 odi Matches<br>
    * He has taken 19 wickets in 23 t20 Matches<br>
    * He played International Cricket for 2 years
    <br><br>
    <h2>kevin o brein</h2>
    * He belongs to dublin.<br>
    * In tests, he scored 258 runs in 3 matches<br> 
     * In ODI’s, he scored 3619 runs in 152 matches<br> 
    * In t20, he scored 1822 runs in 103 matches<br>
    * He has taken 114 wickets in 152 odi Matches<br>
    * He has taken 58 wickets in 103 t20 Matches<br>
    * He played International Cricket for 15 years
    <br><br>
    <h2>simi singh</h2>
    * He belongs to punjab.<br>
    . * In ODI’s, he scored 547 runs in 33 matches<br> 
    * In t20, he scored 245 runs in 31 matches<br>
    * He has taken 37 wickets in 33 odi Matches<br>
    * He has taken 28 wickets in 31 t20 Matches<br>
    * He played International Cricket for 4 years
    <br><br>
    <h2>paul stirling</h2>
    * He belongs to irland.<br>
    * In tests, he scored 104 runs in 3 matches<br> 
     * In ODI’s, he scored 4982 runs in 133 matches<br> 
    * In t20, he scored 2401 runs in 86 matches<br>
    * He has taken 43 wickets in 133 odi Matches<br>
    * He has taken 19 wickets in 86 t20 Matches<br>
    * He played International Cricket for 13 years
    <br><br>
    <h2>lorcan tucker</h2>
    * He belongs to irland.<br>
     * In ODI’s, he scored 392 runs in 25 matches<br> 
    * In t20, he scored 166 runs in 20 matches<br>
    * He played International Cricket for 5 years
    <br><br>
    <h2>mark adir</h2>
    * He belongs to irland.<br>
    * In tests, he scored 11 runs in 1 matches<br> 
     * In ODI’s, he scored 204 runs in 21 matches<br> 
    * In t20, he scored 189 runs in 24 matches<br>
    * He has taken 6 wickets in 1 Test Matches<br>
    * He has taken 20 wickets in 21 odi Matches<br>
    * He has taken 42 wickets in 24 t20 Matches<br>
    * He played International Cricket for 2 years
    <br><br>
    <h2>george dockrell</h2>
    * He belongs to dublin.<br>
    * In tests, he scored 64 runs in 1 matches<br> 
     * In ODI’s, he scored 730 runs in 96 matches<br> 
    * In t20, he scored 345 runs in 82 matches<br>
    * He has taken 2 wickets in 1 Test Matches<br>
    * He has taken 91 wickets in 96 odi Matches<br>
    * He has taken 76 wickets in 82 t20 Matches<br>
    * He played International Cricket for 11 years
    <br><br>
    <h2>joshua little</h2>
    * He belongs to irland.<br>
     * In ODI’s, he scored 25 runs in 16 matches<br> 
    * In t20, he scored 50 runs in 21 matches<br>
    * He has taken 27 wickets in 16 odi Matches<br>
    * He has taken 17 wickets in 21 t20 Matches<br>
    * He played International Cricket for 5 years
    <br><br>
    <h2>andy mcbrine</h2>
    * He belongs to northern ireland.<br>
    * In tests, he scored 18 runs in 2 matches<br> 
     * In ODI’s, he scored 445 runs in 61 matches<br> 
    * In t20, he scored 81 runs in 20 matches<br>
    * He has taken 3 wickets in 2 Test Matches<br>
    * He has taken 64 wickets in 61 odi Matches<br>
    * He has taken 13 wickets in 20 t20 Matches<br>
    * He played International Cricket for 7 years
    <br><br>
    <h2>barry mccarthy</h2>
    . * In ODI’s, he scored 162 runs in 38 matches<br> 
    * In t20, he scored 76 runs in 15 matches<br>
    * He has taken 61 wickets in 38 odi Matches<br>
    * He has taken 14 wickets in 15 t20 Matches<br>
    * He played International Cricket for 5 years
    <br><br>
    <h2>craig young</h2>
    * He belongs to londonderry.<br>
     * In ODI’s, he scored 71 runs in 30 matches<br> 
    * In t20, he scored 54 runs in 37 matches<br>
    * He has taken 47 wickets in 30 odi Matches<br>
    * He has taken 31 wickets in 37 t20 Matches<br>
    * He played International Cricket for 7 years
    <br><br>
    </div>
</body>
</html>