<!DOCTYPE html>
{%load static%}
<html>

<head>
	<meta charset="utf-8">
	<title>home</title>
    <link rel="stylesheet" href="{% static 'images/css/style.css' %}">
    <style>
		h2{
			color:green;
		}
		.aus{
			background-color:aqua;
			color:orange;
		}

	</style>
</head>
<body>
    <div class="aus">
    <h2>kane williamson</h2>
    * He belongs to kane tauranga.<br>
    * In tests, he scored 7230 runs in 85 matches<br> 
     * In ODI’s, he scored 6174 runs in 151 matches<br> 
    * In t20, he scored 1805 runs in 67 matches<br>
    * He has taken 30 wickets in 85 Test Matches<br>
    * He has taken 37 wickets in 151 odi Matches<br>
    * He has taken 6 wickets in 67 t20 Matches<br>
    * He played International Cricket for 11 years
    <br><br>
    <h2>martin guptill</h2>
    * He belongs to auckland.<br>
    * In tests, he scored 2586 runs in 47 matches<br> 
     * In ODI’s, he scored 6927 runs in 186 matches<br> 
    * In t20, he scored 2939 runs in 102 matches<br>
    * He has taken 8 wickets in 47 Test Matches<br>
    * He has taken 4 wickets in 186 odi Matches<br>
    * He played International Cricket for 12 years
    <br><br>
    <h2>mark chapman</h2>
    * He belongs to hong kong.<br>
     * In ODI’s, he scored 161 runs in 6 matches<br> 
    * In t20, he scored 535 runs in 30 matches<br>
    * He has taken 4 wickets in 30 t20 Matches<br>
    * He played International Cricket for 7 years
    <br><br>
    <h2>james neesham</h2>
    * He belongs to auckland.<br>
    * In tests, he scored 709 runs in 12 matches<br> 
     * In ODI’s, he scored 1320 runs in 66 matches<br> 
    * In t20, he scored 324 runs in 29 matches<br>
    * He has taken 14 wickets in 12 Test Matches<br>
    * He has taken 68 wickets in 66 odi Matches<br>
    * He has taken 18 wickets in 29 t20 Matches<br>
    * He played International Cricket for 8 years
    <br><br>
    <h2>todd astle</h2>
    * He belongs to palmerston north.<br>
    * In tests, he scored 98 runs in 5 matches<br> 
     * In ODI’s, he scored 79 runs in 9 matches<br> 
    * In t20, he scored 4 runs in 4 matches<br>
    * He has taken 7 wickets in 5 Test Matches<br>
    * He has taken 10 wickets in 9 odi Matches<br>
    * He has taken 7 wickets in 4 t20 Matches<br>
    * He played International Cricket for 9 years
    <br><br>
    <h2>daryl mitchell</h2>
    * He belongs to hamilton.<br>
    * In tests, he scored 232 runs in 5 matches<br> 
     * In ODI’s, he scored 112 runs in 3 matches<br> 
    * In t20, he scored 148 runs in 15 matches<br>
    * He has taken 1 wickets in 5 Test Matches<br>
    * He has taken 5 wickets in 15 t20 Matches<br>
    * He played International Cricket for 2 years
    <br><br>
    <h2>mitchell santner</h2>
    * He belongs to hamilton.<br>
    * In tests, he scored 766 runs in 24 matches<br> 
     * In ODI’s, he scored 927 runs in 75 matches<br> 
    * In t20, he scored 335 runs in 52 matches<br>
    * He has taken 41 wickets in 24 Test Matches<br>
    * He has taken 75 wickets in 75 odi Matches<br>
    * He has taken 60 wickets in 52 t20 Matches<br>
    * He played International Cricket for 6 years
    <br><br>
    <h2>devon conway</h2>
    * He belongs to johannesburg.<br>
    * In tests, he scored 379 runs in 3 matches<br> 
     * In ODI’s, he scored 225 runs in 3 matches<br> 
    * In t20, he scored 473 runs in 14 matches<br>
    * He played International Cricket for 1 years
    <br><br>
    <h2>gleen phippips</h2>
    * He belongs to east london.<br>
    * In tests, he scored 52 runs in 1 matches<br> 
      In t20, he scored 505 runs in 25 matches<br>
    * He has taken 2 wickets in 25 t20 Matches<br>
    * He played International Cricket for 4 years
    <br><br>
    <h2>tim seifert</h2>
    * He belongs to wanganui.<br>
     * In ODI’s, he scored 33 runs in 3 matches<br> 
    * In t20, he scored 695 runs in 35 matches<br>
    * He played International Cricket for 3 years
    <br><br>
    <h2>trent boult</h2>
    * He belongs to rotorua.<br>
    * In tests, he scored 687 runs in 73 matches<br> 
     * In ODI’s, he scored 159 runs in 93 matches<br> 
    * In t20, he scored 28 runs in 34 matches<br>
    * He has taken 292 wickets in 73 Test Matches<br>
    * He has taken 169 wickets in 93 odi Matches<br>
    * He has taken 46 wickets in 34 t20 Matches<br>
    * He played International Cricket for 10 years
    <br><br>
    <h2>lockie ferguson</h2>
    * He belongs to auckland.<br>
    * In tests, he scored 1 runs in 1 matches<br> 
     * In ODI’s, he scored 63 runs in 37 matches<br> 
    * In t20, he scored 1 runs in 13 matches<br>
    * He has taken 69 wickets in 37 odi Matches<br>
    * He has taken 24 wickets in 13 t20 Matches<br>
    * He played International Cricket for 5 years
    <br><br>
    <h2>kyle jamieson</h2>
    * He belongs to auckland.<br>
    * In tests, he scored 256 runs in 8 matches<br> 
     * In ODI’s, he scored 25 runs in 5 matches<br> 
    * In t20, he scored 41 runs in 8 matches<br>
    * He has taken 46 wickets in 8 Test Matches<br>
    * He has taken 5 wickets in 5 odi Matches<br>
    * He has taken 4 wickets in 8 t20 Matches<br>
    * He played International Cricket for 1 years
    <br><br>
    <h2>ish sodhi</h2>
    * He belongs to ludhiana.<br>
    * In tests, he scored 448 runs in 17 matches<br> 
     * In ODI’s, he scored 81 runs in 33 matches<br> 
    * In t20, he scored 76 runs in 57 matches<br>
    * He has taken 41 wickets in 17 Test Matches<br>
    * He has taken 43 wickets in 33 odi Matches<br>
    * He has taken 73 wickets in 57 t20 Matches<br>
    * He played International Cricket for 8 years
    <br><br>
    <h2>tim southee</h2>
    * He belongs to northland.<br>
    * In tests, he scored 1728 runs in 79 matches<br> 
     * In ODI’s, he scored 681 runs in 143 matches<br> 
    * In t20, he scored 249 runs in 82 matches<br>
    * He has taken 314 wickets in 79 Test Matches<br>
    * He has taken 190 wickets in 143 odi Matches<br>
    * He has taken 99 wickets in 82 t20 Matches<br>
    * He played International Cricket for 13 years
    <br><br>
    </div>
</body>
</html>