<!DOCTYPE html>
{%load static%}
<html>

<head>
	<meta charset="utf-8">
	<title>home</title>
    <link rel="stylesheet" href="{% static 'images/css/style.css' %}">
    <style>
		h2{
			color:green;
		}
		.aus{
			background-color:aqua;
			color:orange;
		}

	</style>
</head>
<body>
    <div class="aus">
    <h2>babar azam</h2>
    * He belongs to lahore.<br>
    * In tests, he scored 2362 runs in 35 matches<br> 
     * In ODI’s, he scored 3985 runs in 83 matches<br> 
    * In t20, he scored 2204 runs in 61 matches<br>
    * He played International Cricket for 6 years
    <br><br>
    <h2>asif ali</h2>
    * He belongs to faisalabad.<br>
     * In ODI’s, he scored 382 runs in 20 matches<br> 
    * In t20, he scored 344 runs in 29 matches<br>
    * He played International Cricket for 3 years
    <br><br>
    <h2>khushdil shah</h2>
    * He belongs to bannu.<br>
     * In ODI’s, he scored 33 runs in 1 matches<br> 
    * In t20, he scored 130 runs in 9 matches<br>
    * He played International Cricket for 2 years
    <br><br>
    <h2>sohaib maqsood</h2>
    * He belongs to multan.<br>
     * In ODI’s, he scored 781 runs in 29 matches<br> 
    * In t20, he scored 273 runs in 26 matches<br>
    * He has taken 1 wickets in 29 odi Matches<br>
    * He played International Cricket for 8 years
    <br><br>
    <h2>mohammad hafeez</h2>
    * He belongs to sargodha .<br>
    * In tests, he scored 3652 runs in 55 matches<br> 
     * In ODI’s, he scored 6614 runs in 218 matches<br> 
    * In t20, he scored 2429 runs in 113 matches<br>
    * He has taken 53 wickets in 55 Test Matches<br>
    * He has taken 139 wickets in 218 odi Matches<br>
    * He has taken 60 wickets in 113 t20 Matches<br>
    * He played International Cricket for 18 years
    <br><br>
    <h2>shadab khan</h2>
    * He belongs to mianwali.<br>
    * In tests, he scored 300 runs in 6 matches<br> 
     * In ODI’s, he scored 434 runs in 48 matches<br> 
    * In t20, he scored 226 runs in 53 matches<br>
    * He has taken 14 wickets in 6 Test Matches<br>
    * He has taken 62 wickets in 48 odi Matches<br>
    * He has taken 58 wickets in 53 t20 Matches<br>
    * He played International Cricket for 4 years
    <br><br>
    <h2>imad wasim</h2>
    * He belongs to swansea.<br>
     * In ODI’s, he scored 986 runs in 55 matches<br> 
    * In t20, he scored 328 runs in 52 matches<br>
    * He has taken 44 wickets in 55 odi Matches<br>
    * He has taken 51 wickets in 52 t20 Matches<br>
    * He played International Cricket for 6 years
    <br><br>
    <h2>mohammad nawaz</h2>
    * He belongs to rawalpindi.<br>
    * In tests, he scored 50 runs in 32 matches<br> 
     * In ODI’s, he scored 203 runs in 16 matches<br> 
    * In t20, he scored 70 runs in 24 matches<br>
    * He has taken 5 wickets in 3 Test Matches<br>
    * He has taken 20 wickets in 16 odi Matches<br>
    * He has taken 20 wickets in 24 t20 Matches<br>
    * He played International Cricket for 5 years
    <br><br>
    <h2>mohammad wasim jr</h2>
    * He belongs to north wazirastan.<br>
    * In t20, he scored 1 runs in 4 matches<br>
    * He has taken 2 wickets in 4 t20 Matches<br>
    * He played International Cricket for 1 years
    <br><br>
    <h2>azam khan</h2>
    * In t20, he scored 6 runs in 3 matches<br>
    * He has taken 0 wickets in 3 t20 Matches<br>
    * He played International Cricket for 1 years
    <br><br>
    <h2>mohammad rizwan</h2>
    * He belongs to peshawar.<br>
    * In tests, he scored 914 runs in 17 matches<br> 
     * In ODI’s, he scored 864 runs in 41 matches<br> 
    * In t20, he scored 1065 runs in 43 matches<br>
    * He played International Cricket for 6 years
    <br><br>
    <h2>haris rauf</h2>
    * He belongs to rawalpindi.<br>
     * In ODI’s, he scored 2 runs in 8 matches<br> 
    * In t20, he scored 6 runs in 23 matches<br>
    * He has taken 14 wickets in 8 odi Matches<br>
    * He has taken 28 wickets in 23 t20 Matches<br>
    * He played International Cricket for 1 years
    <br><br>
    <h2>hasan ali</h2>
    * He belongs to mandi bahauddin.<br>
    * In tests, he scored 287 runs in 15 matches<br> 
     * In ODI’s, he scored 353 runs in 57 matches<br> 
    * In t20, he scored 119 runs in 41 matches<br>
    * He has taken 63 wickets in 15 Test Matches<br>
    * He has taken 89 wickets in 57 odi Matches<br>
    * He has taken 52 wickets in 41 t20 Matches<br>
    * He played International Cricket for 5 years
    <br><br>
    <h2>mohammad hasnain</h2>
    * He belongs to hyderabad.<br>
     * In ODI’s, he scored 43 runs in 8 matches<br> 
    * In t20, he scored 5 runs in 17 matches<br>
    * He has taken 12 wickets in 8 odi Matches<br>
    * He has taken 17 wickets in 17 t20 Matches<br>
    * He played International Cricket for 2 years
    <br><br>
    <h2>shaheen afridi</h2>
    * He belongs to khyber agency.<br>
    * In tests, he scored 108 runs in 19 matches<br> 
     * In ODI’s, he scored 87 runs in 28 matches<br> 
    * In t20, he scored 19 runs in 30 matches<br>
    * He has taken 76 wickets in 19 Test Matches<br>
    * He has taken 53 wickets in 28 odi Matches<br>
    * He has taken 32 wickets in 30 t20 Matches<br>
    * He played International Cricket for 3 years
    <br><br>
    </div>
</body>
</html>