<!DOCTYPE html>
{% extends "web/all.html" %}

{%load static%}
<html>

<head>
    {% block body_block %}
	<meta charset="utf-8">
	<title>home</title>
    <link rel="stylesheet" href="{% static 'images/css/style.css' %}">
    <style>
        h3{
            color: blue;
        }
        p{
            
            color: indianred;
        }
        .tendulkar{
            background-color:aqua;
        }
    </style>

</head>
<body>
    <div class="tendulkar">
    <h2>most runs in test cricket history</h2>
    <h3>SACHIN TENDULKAR</h3>
    <img src="{% static 'images/css/sachin test.jpg' %}" style="height: 200px; width: 250px;" ><br>
    <p>*Tendulkar took up cricket at the age of eleven, made his Test debut on 15 November 1989 against Pakistan in Karachi at the age of sixteen<br>
        *sachin tendulkar is a indian cricketer
        *only player to have scored one hundred international centuries<br>* the first batsman to score a double century in a One Day International (ODI)<br>
        *Sachin Tendulkar has scored the highest number of centuries in the history of Test cricket (51).<br>
        *Sachin Tendulkar has scored the highest number of  half centuries in the history of Test cricket (68).<br>
        *Sachin, besides playing the most Test matches ever<br>
        * in tests he scored 15921 runs and take 46  wickets</p><br><br><br>

    <h2>most wickets in test cricket history</h2>
    <h3>MUTTIAH MURALITHARAN</h3>
    <img src="{% static 'images/css/murali test.jpg' %}" style="height: 200px; width: 250px;" ><br>
       <p> *Muralitharan is a srilanka cricketer<br>
        *Muralitharan has picked up a whopping number of 800 wickets in 133 test matches, averaging 6 wickets per Test.<br>
        *Holds a massive record of 67 five-wicket hauls – the highest ever<br>
        *22 ’10-wickets in a match’ – the game’s best again<br>
        *44039 – the most balls bowled by a single bowler in Test cricket<br></p>


    <h2>most runs in odi cricket history</h2>
    <h3>SACHIN TENDULKAR</h3>
    <img src="{% static 'images/css/sachin oneday.jpg' %}" style="height: 200px; width: 250px;" ><br>
       <p>*sachin tendulkar is a indian cricketer<br>
        *in ODI'S he scored 18426 runs and take 154  wickets<br>
        * the first batsman to score a double century in a One Day International (ODI)<br>
        *Highest number of centuries (49). Highest number of fifties (96).<br>
        *Sachin Tendulkar has played the most one dayers (463 ODIs)</p><br>

    <h2>most wickets in odi cricket history</h2>
    <h3>MUTTIAH MURALITHARAN</h3>
    <img src="{% static 'images/css/murali oneday.jpg' %}" style="height: 200px; width: 250px;" ><br>
        <p> *Muralitharan is a srilanka cricketer<br>
            *Muralitharan has picked total of 534 ODI wickets in 341 ODI innings<br>
            *A total of 10 five-wicket hauls in the limited-overs cricket – the second best after Waqar Younis, who tops the chart with 13 5W hauls.<br>
            *68 – The most number of wickets in World cup tournaments</p><br>



    <h2>most runs in T20 cricket history</h2>
    <h3>VIRAT KOHLI</h3>
    <img src="{% static 'images/css/virat.jpg' %}" style="height: 200px; width: 250px;" ><br>
    <p>*virat kohli is a indian cricketer<br>
       *Kohli leading-run scorer in T20Is with 3,159 runs at an impressive average of 52.65 and a highest score of 94 not-out.<br>
       *most number of fifties in t20(28)</p><br>
       
    <h2>most runs in T20 cricket history</h2>
    <h3>LASITH MALINGA </h3>
    <img src="{% static 'images/css/Lasith_malinga.jpg' %}" style="height: 200px; width: 250px;" ><br>
    <p> *malinga is a srilanka cricketer<br>
       *Malinga was named captain of the Sri Lankan cricket team in 2014 ICC World Twenty20; the team won the trophy.<br>
       * He is the highest wicket-taker for Sri Lanka in T20Is with 96 wickets.<br>
 
       *In April 2017, he took a hat-trick in T20 match against Bangladesh, becoming the second Sri Lankan and fifth overall to take a T20I hat-trick.<br>
 
       *He has taken 4 international hat-tricks, which is most by a Sri Lankan player and joint highest along with Pakistan’s Wasim Akram.<br>
 
        *Malinga has played 73 T20Is for Sri Lanka and taken 97 wickets with an average of 19.7 and the best bowling figure of 31 for 5.</p><br>
  

    <h2>best batting strikerate in odi cricket history</h2>
    <h3>GLENN MAXWELL</h3>
    <P>in odi's he score 3230 runs with the strike rate of 125.44</P><br>


    <h2>best batting strikerate in t20 cricket history</h2>
    <h3>finn allen</h3>
    <P>in t20's he score 156 runs with the strike rate of 190</P><br>


    <h2>most sixes in test cricket history</h2>
    <h3>BRENDON MCCULAM</h3>
    <P>in TEST's he score 6453 runs AND HIT 107 SIXES</P><br>


    <h2>most sixes in odi cricket history</h2>
    <h3>SHAHID AFRIDI</h3>
    <P>in odi's he score 8064 runs and hit 351 sixes</P><br>


    <h2>most sixes in t20 cricket history</h2>
    <h3>MARTIN GUPTILL</h3>
    <P>in t20's he score 2939 runs and hit 147 sixes</P><br>

    <h2>most FOURS in TEST cricket history</h2>
    <h3>SACHIN TENDULKAR</h3>
    <P>in tests's he score 15921 runs and hit 2058 fours</P><br>


    <h2>most fours in odi cricket history</h2>
    <h3>SACHIN TENDULKAR </h3>
    <P>in t20's he score 18426 runs and hit 2016 fours</P><br>


    <h2>best econamy in test cricket history</h2>
    <h3>TONY LOCK</h3>
    <P>in tests's he take 174 wickets with an economy of 2.08</P><br>
     


    <h2>best econamy in odi cricket history</h2>
    <h3>JOEL GARNER</h3>
    <P>in odi's he take 146 wickets with an economy of 3.10</P><br>



    <h2>best econamy in t20 cricket history</h2>
    <h3>DANIEL VETTORI</h3>
    <P>in t20's he take 38 wickets with an economy of 5.70</P><br>



    {% endblock %}  



</div>
</body>
</html>