<!DOCTYPE html>

{% load static %}
<html lang="en" dir="ltr">
    <head>
    <meta charset="utf-8">
    <title>Cricket</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'images/css/style.css' %}">



</head>

<body>
<div class="navbar">
    <div class="first">
        Top most sports in world<br>
        <a href="tel:+917093798914">7093798914</a>
    </div>

    <div class="social">
        
        <a href="https://mobile.twitter.com/ddhanasekharre1"><i class="fa fa-twitter" style="color: blue; font-size: 22px;"></i></a>
        <a href="https://www.facebook.com/dhana.sekhar.22831"><i class="fa fa-facebook" style="color:blue; font-size: 22px;"></i></a>
        <i class="fa fa-youtube" style="color: red; font-size: 22px;"></i>
        <a href="https://www.instagram.com/dhanasekhar_r"><i class="fa fa-instagram" style="color:red; font-size: 22px;"></i></a>
        <a href="https://github.com/Dhanasekhar424/abcd.git"><i class="fa fa-github" style="color:white; font-size: 22px;"></i></a>
        <i class="fa fa-whatsapp" style="color:green; font-size: 22px;"></i>
    

    
        <ul>
            <li><a href="rupesh">Home</a></li>
            <li><a href="Teams">Teams</a></li>
            <li><a href="players">Players</a></li>
            <li><a href="Rankings">Rankings</a></li>
            <li><a href="Stats">Stats</a></li>
            <li><a href="Records">Records</a></li>
            <li><a href="IPL">About Cricket</a></li>
        </ul></div>
</div>    


  <div class=center><img src="{% static 'images/css/dot.jpg' %}" style="height: 100%" width="100%" ></div>

<div class="d">
<h1>add your comment here</h1>
 
<form method="Post">

    {% csrf_token %}
    <div class="h"><label for="username">username: </label>
    <input type="text" name="username" ><br><br><br></div>
    <label for="email">email: </label>
    <input type="email" name="email"><br><br><br>
    <label for="body">comments:</label>
    <input type="body" name="body"><br><br><br>
    
    <input type="submit" name="" value="submit" >

</form>

</div>
</div>
</body>