<!DOCTYPE html>
{%load static%}
<html>

<head>
	<meta charset="utf-8">
	<title>home</title>
    <link rel="stylesheet" href="{% static 'images/css/style.css' %}">
    <style>
		h2{
			color:green;
		}
		.aus{
			background-color:aqua;
			color:orange;
		}

	</style>
</head>
<body>
    <div class="aus">    <h2>temba bavuma</h2>
* He belongs to cape town. He has scored 2097 runs in 44 Test Matches with the help of 1 centuries and 15 half centuries.<br>
* In ODI’s, he scored 499 runs with the help of 1 centuries and 2 half centuries.<br> 
* In t20, he scored 410 runs with the help of 1 half centuries<br>
* He played International Cricket for 7 years

<br><br>
<h2>reeza hendricks</h2>
* He belongs to kape province.<br>
* In ODI’s, he scored 559 runs with the help of 1 centuries and 3 half centuries.<br> 
* In t20, he scored 993 runs with the help of  7 half centuries<br>
* He played International Cricket for 7 years

<br><br>
<h2>kagiso rabada </h2>
* He belongs to johannesburg. He has scored 693 runs in 47 Test Matches <br>
* In ODI’s, he scored 310 runs.<br> 
* In t20, he scored 89 runs <br>
* He has taken 213 wickets in 47 Test Matches<br>
* He has taken 126 wickets in 82 odi Matches<br>
* He has taken 41 wickets in 35 t20 Matches<br>
* He played International Cricket for 7 years

<br><br>
<h2>aiden markram</h2>
* He belongs to centurion. He has scored 1824 runs in 26 Test Matches with the help of 5 centuries and 9 half centuries.<br>
* In ODI’s, he scored 843 runs with the help of  3 half centuries.<br> 
* In t20, he scored 426 runs with the help of  4 half centuries<br>
* He played International Cricket for 4 years

<br><br>
<h2>david miller</h2>
* He belongs to natal.<br>
* In ODI’s, he scored 3355 runs with the help of 5 centuries and 16 half centuries.<br> 
* In t20, he scored 1742 runs with the help of 1 centuries and 4 half centuries<br>
* He played International Cricket for 11 years

<br><br>
<h2>rassie van der dussen </h2>
* He belongs to transvaal. He has scored 610 runs in 10 Test Matches with the help of  6 half centuries.<br>
* In ODI’s, he scored 1049 runs with the help of 1 centuries and 9 half centuries.<br> 
* In t20, he scored 756 runs with the help of 5 half centuries<br>
* He played International Cricket for 3 years

<br><br>
<h2>anrich nortie</h2>
* He belongs to cape town.<br>
* He has taken 47 wickets in 12 Test Matches<br>
* He has taken 22 wickets in 12 odi Matches<br>
* He has taken 9 wickets in 11 t20 Matches<br>
* He played International Cricket for 11 years

<br><br>
<h2>wiaan mulder</h2>
* He belongs to gauteng.<br>
* He has taken 14 wickets in 6 Test Matches<br>
* He has taken 10 wickets in 12 odi Matches<br>
* He has taken 5 wickets in 5 t20 Matches<br>
* He played International Cricket for 1 years

<br><br>
<h2>tabraiz shamsi</h2>
* He belongs to johannesburg.<br>
* He has taken 6 wickets in 2 Test Matches<br>
* He has taken 40 wickets in 30 odi Matches<br>
* He has taken 49 wickets in 42 t20 Matches<br>
* He played International Cricket for 5 years

<br><br>
<h2>dwaine pretories</h2>
* He belongs to randfontein.<br>
* He has taken 7 wickets in 3 Test Matches<br>
* He has taken 29 wickets in 22 odi Matches<br>
* He has taken 14 wickets in 17 t20 Matches<br>
* He played International Cricket for 5 years

<br><br>
<h2>quinton de kock</h2>
* He belongs to sydney. He has scored 3245 runs in 53 Test Matches with the help of 6 centuries and 22 half centuries.<br>
* In ODI’s, he scored 5355 runs with the help of 11 centuries and 16 half centuries.<br> 
* In t20, he scored 1758 runs with the help of 11 half centuries<br>
* He played International Cricket for 11 years

<br><br>
<h2>keshav maharaj </h2>
* He belongs to durban.<br>
* He has taken 129 wickets in 36 Test Matches<br>
* He has taken 19 wickets in 14 odi Matches<br>
* He has taken 3 wickets in 3 t20 Matches<br>
* He played International Cricket for 5 years

<br><br>
<h2>lungi ngidi</h2>
* He belongs to durban.<br>
* He has taken 32 wickets in 10 Test Matches<br>
* He has taken 54 wickets in 29 odi Matches<br>
* He has taken 36 wickets in 23 t20 Matches<br>
* He played International Cricket for 4 years

<br><br>
<h2>heinrich klassen</h2>
* He belongs to tranasvaal.<br>
* In ODI’s, he scored 613 runs with the help of 1 centuries and 3 half centuries.<br> 
* In t20, he scored 436 runs with the help of  3 half centuries<br>
* He played International Cricket for 3 years

<br><br>
<h2>bzorn fortuin</h2>
* He belongs to paarl<br>
* He has taken 14 wickets in 2 t20 Matches<br>

<br><br>
</div>
</body>
</html>