<!DOCTYPE html>
{%load static%}
<html>

<head>
	<meta charset="utf-8">
	<title>home</title>
    <link rel="stylesheet" href="{% static 'images/css/style.css' %}">
    <style>
		h2{
			color:green;
		}
		.aus{
			background-color:aqua;
			color:orange;
		}

	</style>
</head>
<body>
    <div class="aus">
    <h2>avishka fernando</h2>
    * He belongs to wadduwa.<br>
    . * In ODI’s, he scored 964 runs in 26 matches<br> 
    * In t20, he scored 273 runs in 21 matches<br>
    * He played International Cricket for 5 years
    <br><br>
    <h2>bhanuka rajapaksa</h2>
    * He belongs to rajapaksa.<br>
     * In ODI’s, he scored 89 runs in 5 matches<br> 
    * In t20, he scored 165 runs in 9 matches<br>
    * He played International Cricket for 2 years
    <br><br>
    <h2>ramesh mendis</h2>
    * He belongs to ambalangoda.<br>
    * In tests, he scored 57 runs in 2 matches<br> 
     * In ODI’s, he scored 24 runs in 3 matches<br> 
    * In t20, he scored 2 runs in 2 matches<br>
    * He has taken 8 wickets in 2 Test Matches<br>
    * He has taken 2 wickets in 3 odi Matches<br>
    * He has taken 1 wickets in 2 t20 Matches<br>
    * He played International Cricket for 1 years
    <br><br>
    <h2>pathum nissanka</h2>
    * He belongs to galle.<br>
    * In tests, he scored 229 runs in 4 matches<br> 
     * In ODI’s, he scored 86 runs in 9 matches<br> 
    * In t20, he scored 81 runs in 4 matches<br>
    * He played International Cricket for 1 years
    <br><br>
    <h2>dasun shanaka</h2>
    * He belongs to negombo.<br>
    * In tests, he scored 140 runs in 6 matches<br> 
     * In ODI’s, he scored 715 runs in 34 matches<br> 
    * In t20, he scored 611 runs in 48 matches<br>
    * He has taken 13 wickets in 6 Test Matches<br>
    * He has taken 12 wickets in 34 odi Matches<br>
    * He has taken 15 wickets in 48 t20 Matches<br>
    
    * He played International Cricket for 6 years
    <br><br>
    <h2>dhananjaya de silva</h2>
    * He belongs to colombo.<br>
    * In tests, he scored 2253 runs in 36 matches<br> 
     * In ODI’s, he scored 1199 runs in 56 matches<br> 
    * In t20, he scored 412 runs in 22 matches<br>
    * He has taken 24 wickets in 36 Test Matches<br>
    * He has taken 28 wickets in 56 odi Matches<br>
    * He has taken 5 wickets in 22 t20 Matches<br>
    * He played International Cricket for 6 years
    <br><br>
    <h2>kamindu mendis</h2>
    * He belongs to galle.<br>
     * In ODI’s, he scored 42 runs in 4 matches<br> 
    * In t20, he scored 76 runs in 5 matches<br>
    * He has taken 1 wickets in 4 odi Matches<br>
    * He played International Cricket for 3 years
    
    <br><br>
    <h2>charith asalanka</h2>
    * He belongs to elpitiya.<br>
     * In ODI’s, he scored 326 runs in 8 matches<br> 
    * In t20, he scored 64 runs in 3 matches<br>
    * He has taken 1 wickets in 8 odi Matches<br>
    * He played International Cricket for 1 years
    <br><br>
    <h2>wanindu hasaranga</h2>
    * He belongs to galle.<br>
    * In tests, he scored 196 runs in 4 matches<br> 
     * In ODI’s, he scored 546 runs in 29 matches<br> 
    * In t20, he scored 200 runs in 24 matches<br>
    * He has taken 4 wickets in 4 Test Matches<br>
    * He has taken 29 wickets in 29 odi Matches<br>
    * He has taken 36 wickets in 24 t20 Matches<br>
    * He played International Cricket for 4 years
    <br><br>
    <h2>kusal perera</h2>
    * He belongs to kalubowila.<br>
    * In tests, he scored 1177 runs in 22 matches<br> 
     * In ODI’s, he scored 3071 runs in 107 matches<br> 
    * In t20, he scored 1416 runs in 51 matches<br>
    * He played International Cricket for 8 years
    <br><br>
    <h2>dinesh chandimal</h2>
    * He belongs to balapitiya.<br>
    * In tests, he scored 4158 runs in 62 matches<br> 
     * In ODI’s, he scored 3707 runs in 150 matches<br> 
    * In t20, he scored 939 runs in 59 matches<br>
    * He played International Cricket for 11 years
    <br><br>
    <h2>minod bhanuka</h2>
    * He belongs to galle.<br>
    * In tests, he scored 6 runs in 1 matches<br> 
     * In ODI’s, he scored 140 runs in 6 matches<br> 
    * In t20, he scored 64 runs in 5 matches<br>
    * He played International Cricket for 2 years
    <br><br>
    <h2>chamika karunaratne</h2>
    * He belongs to colombo.<br>
    * In tests, he scored 22 runs in 1 matches<br> 
     * In ODI’s, he scored 200 runs in 10 matches<br> 
    * In t20, he scored 69 runs in 6 matches<br>
    * He has taken 1 wickets in 1 Test Matches<br>
    * He has taken 6 wickets in 10 odi Matches<br>
    * He has taken 1 wickets in 6 t20 Matches<br>
    * He played International Cricket for 2 years
    <br><br>
    <h2>newan pradeep</h2>
    * He belongs to negombo.<br>
    * In tests, he scored 132 runs in 28 matches<br> 
     * In ODI’s, he scored 30 runs in 47 matches<br> 
    * In t20, he scored 10 runs in 16 matches<br>
    * He has taken 70 wickets in 28 Test Matches<br>
    * He has taken 59 wickets in 47 odi Matches<br>
    * He has taken 15 wickets in 16 t20 Matches<br>
    * He played International Cricket for 10 years
    <br><br>
    <h2>dushmantha chameera</h2>
    * He belongs to ragama.<br>
    * In tests, he scored 101 runs in 11 matches<br> 
     * In ODI’s, he scored 202 runs in 37 matches<br> 
    * In t20, he scored 38 runs in 31 matches<br>
    * He has taken 32 wickets in 11 Test Matches<br>
    * He has taken 39 wickets in 37 odi Matches<br>
    * He has taken 31 wickets in 31 t20 Matches<br>
    * He played International Cricket for 6 years
    <br><br>
     </div>
</body>
</html>