<!DOCTYPE html>
{% extends "web/all.html" %}

{% load static %}
<link rel="stylesheet" href="{% static 'images/css/style.css' %}">

{% block body_block %}
        
<body >
    
    <div class="body">
        
         <table>
         <div class="dhana">
        
     
                <tr>
                  <th colspan="0">Name</th>
                  <th colspan="0">country</th>
                  <th colspan="1">matches</th>
                  <th colspan="1">runs_scored</th>
                  <th colspan="1">high_score</th>
                  <th colspan="1">hundreds</th>
                  <th colspan="1">fifties</th>
                
                
                </tr>
                
                {% for acc in access_records %}
                <tr>  
                  <td>{{ acc.name }}</td>
            
                  <td>{{ acc.country }}</td>
                  <td>{{ acc.matches }}</td>
                  
                  <td>{{ acc.runs_scored }}</td>
                  <td>{{ acc.high_score }}</td>
                  
                  <td>{{ acc.hundreds }}</td>
                  <td>{{ acc.fifties}}</td>
                </tr>
                  
                {% endfor %}
        
    
    {% csrf_token %}
    </div></table>

        
        {% endblock %}
    
        
    

    </body>
            
</html>