<!DOCTYPE html>
{%load static%}
<html>

<head>
	<meta charset="utf-8">
	<title>home</title>
    <link rel="stylesheet" href="{% static 'images/css/style.css' %}">
    <style>
      h2{
        color:green;
      }
      .aus{
        background-color:aqua;
        color:orange;
      }
  
    </style>
</head>
<body>
  <div class="aus">
    <h2>chris gayle</h2>
    * He belongs to jamaica.<br>
    * In tests, he scored 7215 runs in 103 matches<br> 
     * In ODI’s, he scored 10480 runs in 301 matches<br> 
    * In t20, he scored 1854 runs in 74 matches<br>
    * He has taken 73 wickets in 103 Test Matches<br>
    * He has taken 167 wickets in 301 odi Matches<br>
    * He has taken 19 wickets in 74 t20 Matches<br>
    * He played International Cricket for 15 years
    
    <br><br>
    <h2>shmiron hetmyer Smith</h2>
    * He belongs to guyana.<br>
    * In tests, he scored 838 runs in 16 matches<br> 
     * In ODI’s, he scored 1447 runs in 47 matches<br> 
    * In t20, he scored 539 runs in 3 matches<br>
    * He played International Cricket for 3 years
    
    <br><br>
    <h2>evin lewis</h2>
    * He belongs to trinidad.<br>
    * In ODI’s, he scored 1847 runs in 57 matches<br> 
    * In t20, he scored 1318 runs in 45 matches<br>
    * He played International Cricket for 5 years
    
    <br><br>
    <h2>lendl simmons</h2>
    * He belongs to trinidad.<br>
    * In tests, he scored 278 runs in 8 matches<br> 
     * In ODI’s, he scored 1958 runs in 68 matches<br> 
    * In t20, he scored 1508 runs in 66 matches<br>
    * He played International Cricket for 14 years
    
    <br><br>
    <h2>kieron pollard</h2>
    * He belongs to trinidad.<br>
     * In ODI’s, he scored 2633 runs in 119 matches<br> 
    * In t20, he scored 1378 runs in 88 matches<br>
    * He has taken 54 wickets in 119 odi Matches<br>
    * He has taken 38 wickets in 88 t20 Matches<br>
    * He played International Cricket for 11 years
    
    <br><br>
    <h2>fabin allen</h2>
    * He belongs to jamaica.<br>
     * In ODI’s, he scored 158 runs in 17 matches<br> 
    * In t20, he scored 250 runs in 28 matches<br>
    * He has taken 5 wickets in 17 odi Matches<br>
    * He has taken 20 wickets in 28 t20 Matches<br>
    * He played International Cricket for 3 years
    
    <br><br>
    <h2>dwayne bravo</h2>
    * He belongs to trinidad.<br>
    * In tests, he scored 2200 runs in 40 matches<br> 
     * In ODI’s, he scored 2968 runs in 164 matches<br> 
    * In t20, he scored 1229 runs in 86 matches<br>
    * He has taken 86 wickets in 40 Test Matches<br>
    * He has taken 119 wickets in 164 odi Matches<br>
    * He has taken 76 wickets in 86 t20 Matches<br>
    * He played International Cricket for 17 years
    
    <br><br>
    <h2>roston chase</h2>
    * He belongs to barbados.<br>
    * In tests, he scored 1996 runs in 41 matches<br> 
      In odi, he scored 520 runs in 77 matches<br>
    * He has taken 71 wickets in 41 Test Matches<br>
    * He has taken 15 wickets in 30 odi Matches<br>
    * He played International Cricket for 5 years
    
    <br><br>
    <h2>andre russell</h2>
    * He belongs to jamaica.<br>
    * In tests, he scored 2 runs in 1 matches<br> 
     * In ODI’s, he scored 1034 runs in 56 matches<br> 
    * In t20, he scored 716 runs in 62 matches<br>
    * He has taken 1 wickets in 1 Test Matches<br>
    * He has taken 70 wickets in 56 odi Matches<br>
    * He has taken 36 wickets in 62 t20 Matches<br>
    * He played International Cricket for 11 years
    
    <br><br>
    <h2>nicholas pooran</h2>
    * He belongs to trinidad.<br>
     * In ODI’s, he scored 1044 runs in 31 matches<br> 
    * In t20, he scored 635 runs in 41 matches<br>
    * He played International Cricket for 5 years
    
    <br><br>
    <h2>andre fletcher</h2>
    * He belongs to grenada.<br>
     * In ODI’s, he scored 354 runs in 25 matches<br> 
    * In t20, he scored 950 runs in 54 matches<br>
    * He played International Cricket for 12 years
    
    <br><br>
    <h2>obed grenada</h2>
    * He belongs to sydney.<br>
    * In t20, he scored 36 runs in 12 matches<br>
    * He has taken 4 wickets in 2 odi Matches<br>
    * He has taken 19 wickets in 12 t20 Matches<br>
    * He played International Cricket for 3 years
    
    <br><br>
    <h2>ravi rampaul</h2>
    * He belongs to trinidad.<br>
    * In tests, he scored 335 runs in 18 matches<br> 
     * In ODI’s, he scored 362 runs in 92 matches<br> 
    * In t20, he scored 12 runs in 23 matches<br>
    * He has taken 49 wickets in 18 Test Matches<br>
    * He has taken 117 wickets in 92 odi Matches<br>
    * He has taken 29 wickets in 23 t20 Matches<br>
    * He played International Cricket for 18 years
    
    <br><br>
    <h2>oshane thomas</h2>
    * He belongs to jamaica.<br>
    * He has taken 27 wickets in 20 odi Matches<br>
    * He has taken 19 wickets in 17 t20 Matches<br>
    * He played International Cricket for 3 years
    
    <br><br>
    <h2>hayden walsh</h2>
    * He belongs to virgin islands.<br>
     * In ODI’s, he scored 126 runs in 13 matches<br> 
    * In t20, he scored 41 runs in 20 matches<br>
    * He has taken 28 wickets in 19 odi Matches<br>
    * He has taken 17 wickets in 19 t20 Matches<br>
    * He played International Cricket for 2 years
    
    <br><br>
</div>
     
</body>
</html>