<!DOCTYPE html>
{%load static%}
<html>

<head>
	<meta charset="utf-8">
	<title>home</title>
    <link rel="stylesheet" href="{% static 'images/css/style.css' %}">
    <style>
		h2{
			color:green;
		}
		.aus{
			background-color:aqua;
			color:orange;
		}

	</style>
</head>
<body>
    <div class="aus">    <h2>craig ervine</h2>
    * He belongs to harare.<br>
    * In tests, he scored 1208 runs in 18 matches<br> 
    * In ODI’s, he scored 2737 runs in 99 matches<br> 
    * In t20, he scored 777 runs in 34 matches<br>
    * He played International Cricket for 11 years
    <br><br>
    <h2>hamilton masakadza</h2>
    * He belongs to harare.<br>
    * In tests, he scored 2222 runs in 38 matches<br> 
    * In ODI’s, he scored 5658 runs in 209 matches<br> 
    * In t20, he scored 1600 runs in 65 matches<br>
    * He has taken 16 wickets in 38 Test Matches<br>
    * He has taken 39 wickets in 209 odi Matches<br>
    * He has taken 2 wickets in 65 t20 Matches<br>
    * He played International Cricket for 20 years
    <br><br>
    <h2>sikandhar raza</h2>
    * He belongs to sialkot.<br>
    * In tests, he scored 1187 runs in 17 matches<br> 
    * In ODI’s, he scored 3011 runs in 108 matches<br> 
    * In t20, he scored 524 runs in 42 matches<br>
    * He has taken 34 wickets in 17 Test Matches<br>
    * He has taken 62 wickets in 108 odi Matches<br>
    * He has taken 13 wickets in 42 t20 Matches<br>
    * He played International Cricket for 8 years
    <br><br>
    <h2>sean williams</h2>
    * He belongs to bulawayo.<br>
    * In tests, he scored 1034 runs in 14 matches<br> 
    * In ODI’s, he scored 3995 runs in 139 matches<br> 
    * In t20, he scored 1034 runs in 50 matches<br>
    * He has taken 21 wickets in 14 Test Matches<br>
    * He has taken 75 wickets in 139 odi Matches<br>
    * He has taken 33 wickets in 50 t20 Matches<br>
    * He played International Cricket for 16 years
    <br><br>
    <h2>solomon mire</h2>
    * He belongs to harare.<br>
    * In tests, he scored 135 runs in 2 matches<br> 
    * In ODI’s, he scored 1191 runs in 47 matches<br> 
    * In t20, he scored 196 runs in 9 matches<br>
    * He has taken 1 wickets in 2 Test Matches<br>
    * He has taken 12 wickets in 47 odi Matches<br>
    * He has taken 1 wickets in 9  t20 Matches<br>
    * He played International Cricket for 7 years
    <br><br>
    <h2>BRIAN CHARI</h2>
    * In tests, he scored 254 runs in 7 matches<br> 
    * In ODI’s, he scored 186 runs in 14 matches<br> 
    * In t20, he scored 21 runs in 3 matches<br>
    * He played International Cricket for 6 years
    <br><br>
    <h2>TIMYCEN MARUMA</h2>
    * He belongs to HARARE.<br>
    * In tests, he scored 68 runs in 4 matches<br> 
    * In ODI’s, he scored 196 runs in 22 matches<br> 
    * In t20, he scored 100 runs in 13 matches<br>
    * He has taken 4 wickets in 22 odi Matches<br>
    * He has taken 1 wickets in 13 t20 Matches<br>
    * He played International Cricket for 15 years
    <br><br>
    <h2>ELTON CHIGUMBURA </h2>
    * He belongs to kwekwe.<br>
    * In tests, he scored 569 runs in 14 matches<br> 
    * In ODI’s, he scored 4340 runs in 213 matches<br> 
    * In t20, he scored 864 runs in 56 matches<br>
    * He has taken 21 wickets in 14 Test Matches<br>
    * He has taken 101 wickets in 213 odi Matches<br>
    * He has taken 14 wickets in 56 t20 Matches<br>
    * He played International Cricket for 17 years
    <br><br>
    <h2>regis chakabva</h2>
    * He belongs to harare.<br>
    * In tests, he scored 1061 runs in 22 matches<br> 
    * In ODI’s, he scored 817 runs in 47 matches<br> 
    * In t20, he scored 410 runs in 26 matches<br>
    * He played International Cricket for 13 years
    <br><br>
    <h2>berndan taylor</h2>
    * He belongs to harare.<br>
    * In tests, he scored 2320 runs in 34 matches<br> 
    * In ODI’s, he scored 6684 runs in 205 matches<br> 
    * In t20, he scored 859 runs in 44 matches<br>
    * He has taken 9 wickets in 205 odi Matches<br>
    * He has taken 1 wickets in 44 t20 Matches<br>
    * He played International Cricket for 17 years
    <br><br>
    <h2>peter moor</h2>
    * He belongs to harare.<br>
    * In tests, he scored 533 runs in 8 matches<br> 
    * In ODI’s, he scored 828 runs in 49 matches<br> 
    * In t20, he scored 364 runs in 21 matches<br>
    * He played International Cricket for 7 years
    <br><br>
    <h2>tendai chatara</h2>
    * He belongs to chimaniamani.<br>
    * In tests, he scored 88 runs in 8 matches<br> 
    * In ODI’s, he scored 172 runs in 73 matches<br> 
    * In t20, he scored 18 runs in 30 matches<br>
    * He has taken 21 wickets in 8 Test Matches<br>
    * He has taken 96 wickets in 73 odi Matches<br>
    * He has taken 34 wickets in 30 t20 Matches<br>
    * He played International Cricket for 11 years
    <br><br>
    <h2>donald tiripano</h2>
    * He belongs to mutare.<br>
    * In tests, he scored 508 runs in 15 matches<br> 
    * In ODI’s, he scored 344 runs in 36 matches<br> 
    * In t20, he scored 127 runs in 17 matches<br>
    * He has taken 26 wickets in 15 Test Matches<br>
    * He has taken 35 wickets in 36 odi Matches<br>
    * He has taken 15 wickets in 17 t20 Matches<br>
    * He played International Cricket for 7 years
    <br><br>
    <h2>chris mpofu</h2>
    * He belongs to plumtree.<br>
    * In tests, he scored 105 runs in 15 matches<br> 
    * In ODI’s, he scored 57 runs in 84 matches<br> 
    * In t20, he scored 35 runs in 32 matches<br>
    * He has taken 29 wickets in 15 Test Matches<br>
    * He has taken 93 wickets in 84 odi Matches<br>
    * He has taken 33 wickets in 32 t20 Matches<br>
    * He played International Cricket for 17 years
    <br><br>
    <h2>kyle jarvis</h2>
    * He belongs to harare.<br>
    * In tests, he scored 128 runs in 13 matches<br> 
    * In ODI’s, he scored 222 runs in 49 matches<br> 
    * In t20, he scored 55 runs in 21 matches<br>
    * He has taken 46 wickets in 13 Test Matches<br>
    * He has taken 58 wickets in 49 odi Matches<br>
    * He has taken 26 wickets in 21 t20 Matches<br>
    * He played International Cricket for 12 years
    <br><br>
    </div>
</body>
</html>